﻿@model NhuDangCenter.Models.LuongGiaoVien
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa chi lương này?</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NgayTraLuong):</th>
            <td>@Html.DisplayFor(model => model.NgayTraLuong)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Lop.Lop_Name):</th>
            <td>@Html.DisplayFor(model => model.Lop.Lop_Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GiaoVien.GiaoVien_Name):</th>
            <td>@Html.DisplayFor(model => model.GiaoVien.GiaoVien_Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LuongGiangDay):</th>
            <td>@Html.DisplayFor(model => model.LuongGiangDay)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Thuong):</th>
            <td>@Html.DisplayFor(model => model.Thuong)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PhaiTru):</th>
            <td>@Html.DisplayFor(model => model.PhaiTru)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GhiChu):</th>
            <td>@Html.DisplayFor(model => model.GhiChu)</td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}