﻿@model NhuDangCenter.Models.LuongGiaoVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LuongGiaoVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayTraLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTraLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongGiangDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongGiangDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhaiTru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhaiTru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaoVien.GiaoVien_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaoVien.GiaoVien_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop.MaLop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LuongGiaoVien_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
