﻿@model NhuDangCenter.Models.TuNgayDenNgay
@{
    IEnumerable<NhuDangCenter.Models.LuongGiaoVien> bangLuong = (IEnumerable<NhuDangCenter.Models.LuongGiaoVien>)ViewBag.BangLuong;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="text-align:center; margin-bottom:15px;">
            <div class="form-group">
                @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.TuNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.DenNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-calculator"></i> Xem thông tin
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<p>
    <a href="@Url.Action("TinhLuong", "LuongGiaoViens")" class="btn btn-primary"><i class="fa fa-calculator m-right-xs"></i>Tính lương giáo viên</a>
    <a href="@Url.Action("Create", "LuongGiaoViens")" class="btn btn-warning" data-modal><i class="fa fa-money m-right-xs"></i>Trả lương</a>
    @if (Model != null)
    {
        <a href="@Url.Action("XuatExcel", "LuongGiaoViens", new { tuNgay = Model.TuNgay, denNgay = Model.DenNgay })" class="btn btn-primary"><i class="fa fa-file-excel-o m-right-xs"></i>Xuất excel báo cáo</a>
    }
</p>
@if (bangLuong != null)
{
    
    <table class="table table-bordered table-striped table-hover" id="bangLuong">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    Giáo viên
                </th>
                <th>
                    Lớp
                </th>
                <th>
                   Ngày trả lương
                </th>
                <th>
                    Lương giảng dạy
                </th>
                <th>
                    Thưởng
                </th>
                <th>
                    Phải trừ
                </th>
                <th>
                    Ghi chú
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bangLuong)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaoVien.GiaoVien_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lop.Lop_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTraLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LuongGiangDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhaiTru)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "LuongGiaoViens", new { id=item.LuongGiaoVien_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "LuongGiaoViens", new { id=item.LuongGiaoVien_ID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        var columnGroup = 2;
        $(document).ready(function () {
            LoadDatatable();
        })
        function LoadDatatable() {
            t = $('#bangLuong').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": columnGroup }
                ],
                "order": [[columnGroup, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(columnGroup, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#fff;"><td colspan="9"><strong>' + group + '</strong></td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }        
    </script>
}
