﻿@model  IEnumerable<NhuDangCenter.Models.store_ThoiKhoaBieu_Result>

@{
    ViewBag.Title = "Index";
}

<h2>THỜI KHÓA BIỂU TRUNG TÂM</h2>
                <table id="LopList" class="table table-bordered table-hover table-striped action-table">
                    <thead>
                        <tr>
                           <th rowspan="2">Thứ</th>
                            <th rowspan="2">Ca</th>
                            <th colspan="@Enumerable.Count(ViewBag.Phongs)">Phòng học</th>
                            </tr>
                        <tr>
                            @foreach (var item in ViewBag.Phongs)
                            {
                                <th style="width:300px; text-align:center">@item.Phong_Name</th>

                            }
                           
                        </tr>
                       
                    </thead>
                   
                    <tbody>
                        @{int stt = -1; }
                        @foreach (var item1 in ViewBag.Thus)
                        {

                            <tr>

                                <td rowspan="@Enumerable.Count(ViewBag.Cas)" >@item1</td>
                                <td > @ViewBag.Cas[0].Ca_Name</td>
                                @foreach (var item in ViewBag.Phongs)
                                {


                                    var itemsdk = Model.Where(c => c.Ca_Name == ViewBag.Cas[0].Ca_Name && c.CT_Thu.Contains(item1) && c.Phong_Name == item.Phong_Name);

                                    if(itemsdk.Count() ==0)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        //kiểm tra xem có nhiều phần tử k
                                        <td  style="width:300px; text-align:center">
                                            @foreach (var item3 in itemsdk)
                                            {


                                                @item3.Lop_Name <br /> @item3.GiaoVien_Name <br /> <text> (</text>@item3.BatDau <text> - </text> @item3.KetThuc <text> )</text> <br /><text> ----------------------</text><br />

                                            }
                                        </td>
                                    }
                                }

                                </tr>
                            for (int i = 1; i < @Enumerable.Count(ViewBag.Cas); i++)
                                   {
                                <tr>
                                    <td>@ViewBag.Cas[i].Ca_Name</td>
                                    @foreach (var item in ViewBag.Phongs)
                                    {
                                        if ((Model.Where(c => c.Ca_Name == ViewBag.Cas[0].Ca_Name && c.CT_Thu.Contains(item1) && c.Phong_Name == item.Phong_Name)) == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td  style="width:300px; text-align:center">
                                                @foreach (var item3 in Model.Where(c => c.Ca_Name == ViewBag.Cas[i].Ca_Name && c.CT_Thu.Contains(item1) && c.Phong_Name == item.Phong_Name))
                                                {

                                                    @item3.Lop_Name <br/> @item3.GiaoVien_Name <br/> <text> (</text>@item3.BatDau <text> - </text> @item3.KetThuc <text> )</text> <br/><text> ----------------------</text><br />

}
                                            </td>
                                        }
                                    }

                                </tr>

                            }







                               }
                    </tbody>
                </table>

@section Styles{
                                   @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
                               @section Scripts{
                                   @Scripts.Render("~/vendors/DataTables/js")
                               @Scripts.Render("~/vendors/DataTables/Buttons/js")
                               @Scripts.Render("~/bundles/jqueryval")
                               <!--modal form-->
                               @Scripts.Render("~/bundles/modalform")
                                   <script type="text/javascript">
                                       //$(document).ready(function() {
                                       //    var table = $('#LopList').DataTable({
                                       //        "columnDefs": [
                                       //            { "visible": false, "targets": 0 }
                                       //        ],
                                       //        "order": [[ 0, 'asc' ]],
                                       //        "displayLength": 25,
                                       //        "drawCallback": function ( settings ) {
                                       //            var api = this.api();
                                       //            var rows = api.rows( {page:'current'} ).nodes();
                                       //            var last=null;

                                   //            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                                   //                if ( last !== group ) {
                                   //                    $(rows).eq( i ).before(
                                   //                        '<tr class="group"><td style="color:red" colspan="10">' + group + '</td></tr>'
                                   //                    );

                                   //                    last = group;
                                   //                }
                                   //            } );
                                   //        }
                                   //    } );
                                   //})
                                   //$(document).ready(function () {
                                   //    var t = $('#LopList').DataTable({
                                   //        "language": {
                                   //            "url": "/vendors/DataTables/langs/Vietnamese.json"
                                   //        },
                                   //        "columnDefs": [{
                                   //            "searchable": false,
                                   //            "orderable": false,
                                   //            "targets": 0
                                   //        },
                                   //        {
                                   //            "searchable": false,
                                   //            "orderable": false,
                                   //            "targets": 3
                                   //        }],

                                   //    });
                                   //    t.on('order.dt search.dt', function () {
                                   //        t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                                   //            cell.innerHTML = i + 1;
                                   //        });
                                   //    }).draw();
                                   //});
        @*function HienThiModal(href,tab) {
            $('#myModalContent').load(href, function () {
                // this is the first add
                $.validator.unobtrusive.parse($('form'));
                $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true }, $.datepicker.regional["vi"]);
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this,tab);
            });
        };
        function bindForm(dialog,tab) {
            $('form', dialog).submit(function () {
                var data = $(this).serialize();
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: data,
                        success: function (result) {
                            //đóng modal form
                            $("#myModal").modal('hide');
                            //load lại bảng
                            $("#" + tab).html(result);
                            //var div = document.getElementById(tab);
                            //div.innerHTML(result);
                        }
                    });
                    return false;
                }
            });
        }
        $('#myTabs a').click(function (e) {
            e.preventDefault();

            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);

            // ajax load from data-url
            $(href).load(url, function (result) {
                pane.tab('show');
                /*Thêm sự kiện double click cho bảng relative*/
                $('#EmployeeRelativeList tr').dblclick(function () {
                    var id = $(this).attr('id');
                    id = id.replace('HRM_EMPLOYEE_RELATIVE_', '');
                    var url = '@Url.Action("Details", "HRM_EMPLOYEE_RELATIVE", new { id = "js-id", data_modal="" })'
                      .replace("js-id", encodeURIComponent(id));
                    $.get(url, function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    });
                });
                /*Thêm sự kiện double click cho bảng relative*/
                $('#EmploymentHistoryList tr').dblclick(function () {
                    var id = $(this).attr('id');
                    id = id.replace('HRM_EMPLOYMENTHISTORY_', '');
                    var url = '@Url.Action("Details", "HRM_EMPLOYMENTHISTORY", new { id = "js-id", data_modal="" })'
                      .replace("js-id", encodeURIComponent(id));
                    $.get(url, function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    });
                });
            });
        });*@
    </script>
}
