﻿@model NhuDangCenter.Models.ChonNgay
@{
    IEnumerable<NhuDangCenter.Models.sp_T_TinhLuongGiaoVien_Result> bangLuong = (IEnumerable<NhuDangCenter.Models.sp_T_TinhLuongGiaoVien_Result>)ViewBag.BangLuong;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Ngay, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Ngay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-12">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-calculator"></i> Tính lương
                </button>
            </div>
        </div>
    </div>
}
@if (bangLuong != null)
{
    <table class="table table-bordered table-striped table-hover" id="bangLuong">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    Giáo viên
                </th>
                <th>
                    Lớp
                </th>
                <th>
                    Lương đã trả
                </th>
                <th>
                    Tiết giảng chính
                </th>
                <th>
                    Tiết trợ giảng
                </th>
                <th>
                    Lương giảng dạy
                </th>
                <th>
                    Thừa
                </th>
                <th>
                    Thiếu
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bangLuong)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaoVien_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lop_Name)
                    </td>
                    <td>
                        @if (item.LuongDaTra > 0)
                        {
                            @Html.DisplayFor(modelItem => item.LuongDaTra)
                        }                        
                    </td>
                    <td>
                        @if (item.SoTietGiangChinh > 0)
                        {
                            @Html.DisplayFor(modelItem => item.SoTietGiangChinh)
                        }
                        
                    </td>
                    <td>
                        @if (item.SoTietTroGiang> 0)
                        {
                            @Html.DisplayFor(modelItem => item.SoTietTroGiang)
                        }
                        
                    </td>
                    <td>
                        @if (item.TienPhaiTra > 0)
                        {
                            @Html.DisplayFor(modelItem => item.TienPhaiTra)
                        }
                        
                    </td>
                    <td>
                        @if (item.Thua > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Thua)
                        }
                        
                    </td>
                    <td>
                        @if (item.Thieu > 0)
                        {
                            @Html.DisplayFor(modelItem => item.Thieu)
                        }
                        
                    </td>
                    <td>
                        <a href="@Url.Action("Create", "LuongGiaoViens", new {NgayTinhLuong=Model.Ngay, Lop_ID=item.Lop_ID, GiaoVien_ID= item.GiaoVien_ID, Thua=item.Thua, Thieu=item.Thieu})" class="btn btn-warning" data-modal><i class="fa fa-money m-right-xs"></i>Trả lương</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        var columnGroup = 2;
        $(document).ready(function () {
            LoadDatatable();
        })
        function LoadDatatable() {
            t = $('#bangLuong').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": columnGroup }
                ],
                "order": [[columnGroup, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(columnGroup, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#fff;"><td colspan="9"><strong>' + group + '</strong></td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }
    </script>
}

