﻿@model NhuDangCenter.Models.HRM_USER
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Đổi password cho người dùng: @Model.FullName</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
           @Html.HiddenFor(model => model.UserID)
            <div class="form-group">
                <label class="control-label col-md-4">Password mới</label>
                <div class="col-md-8">
                    <input class="form-control" id="password" name="Password" type="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Xác nhận password</label>
                <div class="col-md-8">
                    <input class="form-control" id="confirm_password" type="password"/>
                    <span id="messageConfirmPass"></span>
                </div>
            </div>        
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Lưu thông tin
        </button>
    </div>

}