﻿@model IEnumerable<NhuDangCenter.Models.HRM_ROLE>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Thêm quyền cho tài khoản: @ViewBag.TenTaiKhoan</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <em>Chọn những quyền để thêm vào tài khoản: <strong>@ViewBag.TenTaiKhoan</strong>. Sau đó bấm nút thêm.</em>
        <div class="form-horizontal">
            @foreach (var item in Model)
            {
                <div class="checkbox">
                    <label><input type="checkbox" value="@item.RoleID" name="chkRole">@item.RoleFullName</label>
                </div>
            }
            <input type="hidden" value="@ViewBag.UserID" name="UserID" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Thêm
        </button>
    </div>
}