﻿@using NhuDangCenter.Models
@model IEnumerable<NhuDangCenter.Models.HRM_USER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    NhuDangCenterEntities db = new NhuDangCenterEntities();
}

@section huongdan{
    <text>Danh sách tài khoản được sử dụng chương trình</text>
}

<p>
    <a href="@Url.Action("Create", "HRM_USER")" class="btn btn-primary" data-modal><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table class="table table-bordered table-striped table-hover" id="bangUser">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>  
            <th>Vai trò</th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td> 
                <td>
                    @foreach(HRM_USERROLES ur in item.HRM_USERROLES)
                    {
                        HRM_ROLE r = ur.HRM_ROLE;
                        <text>@r.RoleFullName</text>
                        <br/>
                    }
                </td>               
                <td>
                    <a href="@Url.Action("ChangePassword", "HRM_USER", new { id=item.UserID })" class="btn btn-warning btn-xs" data-modal><i class="fa fa-refresh"></i></a>
                    <a href="@Url.Action("EditUserRoles", "HRM_USER", new { id=item.UserID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "HRM_USER", new { id=item.UserID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>                    
                </td>
            </tr>
        }
    </tbody>
</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function () {
            LoadDatatable();
        })
        function LoadDatatable() {
            t = $('#bangUser').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }
    </script>
}
