﻿@model IEnumerable<NhuDangCenter.Models.CapDo>

@{
    ViewBag.Title = "Cấp độ học";
}
@section huongdan{
    <text>Danh sách các cấp độ học</text>
}
<p>
    <a href="@Url.Action("Create", "CapDo")" class="btn btn-primary" data-modal><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table class="table table-bordered table-striped table-hover" id="bangCa">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                Tên cấp độ
            </th>
            <th>
                Tên chương trình
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapDo_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuongTrinh.ChuongTrinh_Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "CapDo", new { id=item.CapDo_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "CapDo", new { id=item.CapDo_ID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function () {
            LoadDatatable();
        })
        function LoadDatatable() {
            t = $('#bangCa').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }
    </script>
}
