﻿@model IEnumerable<NhuDangCenter.Models.Lop>

 
                <table id="LopList" class="table no-border table-striped table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaLop)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lop_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BatDau)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KetThuc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ThoiGianLop)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HocPhi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TroGiang_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ca.Ca_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CapDo.CapDo_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GiaoVien.GiaoVien_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phong.Phong_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Thu.Thu_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TinhTrangLop.TinhTrangLop_Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaLop)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lop_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BatDau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KetThuc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiGianLop)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HocPhi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TroGiang_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ca.Ca_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CapDo.CapDo_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaoVien.GiaoVien_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phong.Phong_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Thu.Thu_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TinhTrangLop.TinhTrangLop_Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Lop_ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Lop_ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Lop_ID })
                            </td>
                        </tr>
                    }

                </table>
           