﻿@model NhuDangCenter.Models.Lop

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa lớp học này?</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLop)
            </th>

            <td>
                @Html.DisplayFor(model => model.MaLop)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lop_Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.Lop_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatDau)
            </th>

            <td>
                @Html.DisplayFor(model => model.BatDau)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KetThuc)
            </th>

            <td>
                @Html.DisplayFor(model => model.KetThuc)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianLop)
            </th>

            <td>
                @Html.DisplayFor(model => model.ThoiGianLop)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HocPhi)
            </th>

            <td>
                @Html.DisplayFor(model => model.HocPhi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TroGiang_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.TroGiang_ID)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TroGiang_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.Ca.Ca_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CapDo_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.CapDo.CapDo_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaoVien_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.GiaoVien.GiaoVien_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phong_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.Phong.Phong_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thu_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.Thu.Thu_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LuongGiangChinh)
            </th>

            <td>
                @Html.DisplayFor(model => model.LuongGiangChinh)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LuongTroGiang)
            </th>

            <td>
                @Html.DisplayFor(model => model.LuongTroGiang)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrangLop_ID)
            </th>

            <td>
                @Html.DisplayFor(model => model.TinhTrangLop.TinhTrangLop_Name)
            </td>

        </tr>

    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}