﻿@*@model NhuDangCenter.Models.Lop*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
//string thongTin = "CHI TIẾT: " + Model.Lop_Name;
}
 
<div>
    <div class="row">
        <div class="col-md-6">
            <p style="font-size: 24px; color:red"><b>DANH SÁCH LỚP</b></p>
            <div id="ChonLop">

            </div>
        </div>
        <div class="col-md-6">
            <p style="font-size: 24px; color:red" ><b>DANH SÁCH HỌC VIÊN</b></p>
            <div id="ChonHocVien">

            </div>
        </div>
    </div>
</div>
<div id="DieuKienChon">
    <div class="row" style="padding-bottom:20px;padding-top:20px;">
        <div class="col-md-12 col-xs-12 text-center">
            @*<a id="LocThuyenVien" class="btn btn-warning"><i class="fa fa-refresh m-right-xs"></i>Lọc thuyền viên</a>*@
            <a title="Xem danh sách học viên không thuộc lớp đang chọn" id="LocHocVien" class="btn btn-primary"><i class="fa fa-refresh m-right-xs"></i>Xem DSHV tự do</a>
            <a title="Thêm học viên đang chọn vào lớp" id="ThemVaoLop" class="btn btn-danger"><i class="fa fa-arrow-down m-right-xs"></i>Thêm HV vào lớp</a>
            <a title="Xem danh sách học viên trong lớp đang chọn" id="XemDsHocVienLop" class="btn btn-primary"><i class="fa fa-refresh m-right-xs"></i>Xem DSHV trong lớp</a>
            <a title="Chuyển học viên giữa các lớp" id="ChuyenSangLop" class="btn btn-info"><i class="fa fa-arrows-h m-right-xs"></i>Chuyển HV sang lớp khác</a>
            @*<a id="Xemhocphi" class="btn btn-danger"><i class="fa fa-arrow-down m-right-xs"></i>Chuyển sang lớp mới</a>*@
    @*<a id="SingleOn" class="btn btn-info"><i class="fa fa-arrow-up m-right-xs"></i>Lên tàu</a>
            <a id="Replace" class="btn btn-success"><i class="fa fa-arrows m-right-xs"></i>Thay thế</a>
            <a href="@Url.Action("DetailsOfOnePlan", "HRM_DETAILPLAN", new { PlanID=Model.PlanID })" class="btn btn-default">Sửa bảng kế hoạch</a>*@
        </div>
    </div>
</div>
<p style="font-size: 24px; color:red"><b>BẢNG ĐIỂM LỚP</b></p>
<div id="CTHocVien"></div>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
    @Styles.Render("~/vendors/DataTables/checkbox/css")
}
<style>
    tfoot {
        display: table-header-group;
    }

    #ChonLop div.row:first-child, #ChonHocVien div.row:first-child {
        display: none;
    }
</style>
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/vendors/DataTables/checkbox/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">
        var tblLop, tblHocVien,tblHocVien1, tblCTHocVien;
        var currentLop = -1
        var currentHocVien = -1
        $(document).ready(function () {
            //hiển thị image chờ
            //$("#loadingImage").show();
            //hiển thị danh sách thuyền viên trên tất cả các tàu
            $.ajax({
                url: '@Url.Action("dsLop", "Lop")',
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    //$("#loadingImage").hide();
                    $('#ChonLop').html(result);
                    FormatDanhSachLop();
                }
            });

            //hiển thị danh sách chi tiết tại đây
            @*$.ajax({
                url: '@Url.Action("DsDiemHocVien", "Lop", new { LopID=1 })',
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    $('#CTHocVien').html(result);
                    FormatChiTietHocVien();
                }
            });*@

        });
        //XỬ LÝ CÁC SỰ KIỆN
        //LỌC HỌC VIÊN KHÔNG TRONG LỚP ĐANG CHỌN ĐỂ THÊM VÀO LỚP
        $('#LocHocVien').on('click', function () {
            var anSelected = fnGetSelected(tblLop);
            var tr = anSelected[0];
            currentLop = $(tr).attr('id');
            LayDanhSachHocVien();
        })
        //LỌC HỌC VIÊN TRONG LỚP ĐANG CHỌN ĐỂ CHUYỂN LỚP
        $('#XemDsHocVienLop').on('click', function () {
            var anSelected = fnGetSelected(tblLop);
            var tr = anSelected[0];
            currentLop = $(tr).attr('id');
            LayDanhSachHocVienTrongLop();
        })
        $('#ChuyenSangLop').on('click', function () {
            var anSelected = fnGetSelected(tblHocVien1);
            var tr = anSelected[0];
            id = $(tr).attr('id');
            currentHocVien = id;
            var url = '@Html.Raw(@Url.Action("dieuKienLoc", "Lop", new { LopID = "lop-id", HocVienID ="hocvien-id"}))'
              .replace("lop-id", encodeURIComponent(currentLop))
              .replace("hocvien-id", encodeURIComponent(id));
           
            //goi modal
            $('#myModalContent').load(url, function () {

                $.validator.unobtrusive.parse($('form'));

                //thực hiện add thêm các sự kiện
                $("#chkAllChucVu").change(function () {
                    if (this.checked) {
                        //Disable các chkPos
                        $('input[name="chkPos"]:not(:first)').attr('disabled', 'true');
                    } else {
                        $('input[name="chkPos"]:not(:first)').removeAttr("disabled");
                    }
                });
                $("#chkAllDuTru").change(function () {
                    if (this.checked) {
                        //Disable các chkPos
                        $('input[name="chkLoaiDuTru"]:not(:first)').attr('disabled', 'true');
                    } else {
                        $('input[name="chkLoaiDuTru"]:not(:first)').removeAttr("disabled");
                    }
                });

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindFormChuyenSangLop(this);
            });

            return false;
        })
        function bindFormChuyenSangLop(dialog) {
           
           
            //alert($('#myModal').checkbox('');
            $('form', dialog).submit(function () {
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            $('#myModal').modal('hide');
                            //$('#ChonHocVien').html(result);
                            //FormatDanhSachHocVien();
                            var favorite = [];
                            $.each($("input[name='chkPos']:checked"), function () {
                                favorite.push($(this).val());
                            });
                            //Thực hiện chuyển lớp cho học viên
                            //Chèn học viên vào lớp đã chọn???
                            //Lấy lớp đã chọn
                            //$('#myModal').modal('show').on('shown.bs.modal', function () {
                            var lopchuyenid = favorite.join(",");
                            ChuyenLopHocVien(currentLop, lopchuyenid, currentHocVien);
                                //  $("#checkid").html("My favourite sports are: " + favorite.join(", "));
                            //});
                        }
                    });
                    return false;
                }
            });
        }
        @*$('#LocThuyenVien').on('click', function () {
            var url = '@Html.Raw(@Url.Action("locThuyenVien", "HRM_PLAN", new { TauID = "tau-id", PlanID="plan-id", ThuyenVienID ="thuyenvien-id"}))'
              .replace("tau-id", encodeURIComponent(currentTau))
              .replace("plan-id", encodeURIComponent(@Model.Lop_ID))
              .replace("thuyenvien-id", encodeURIComponent(currentThuyenVien));
            //goi modal
            $('#myModalContent').load(url, function () {

                $.validator.unobtrusive.parse($('form'));

                //thực hiện add thêm các sự kiện
                $("#chkAllChucVu").change(function () {
                    if (this.checked) {
                        //Disable các chkPos
                        $('input[name="chkPos"]:not(:first)').attr('disabled', 'true');
                    } else {
                        $('input[name="chkPos"]:not(:first)').removeAttr("disabled");
                    }
                });

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindFormLocThuyenVien(this);
            });

            return false;
        })
        function bindFormLocThuyenVien(dialog) {
            $('form', dialog).submit(function () {
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            $('#myModal').modal('hide');
                            $('#ChonThuyenVien').html(result);
                            FormatDanhSachLop();
                        }
                    });
                    return false;
                }
            });
        }*@
        function bindFormNhapDiemHocVienTheoLop(dialog) {
            $('form', dialog).submit(function () {
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            $('#myModal').modal('hide');
                            $('#CTHocVien').html(result);
                            FormatChiTietHocVien();
                        }
                    });
                    return false;
                }
            });
        }
        //SỰ KIỆN nhấn nút Lên tàu
        //$('#SingleOn').on('click', function (e) {
        //    //kiểm tra xem đã chọn người nào chưa
        //    var anSelected = fnGetSelected(tblDuTru);
        //    if (anSelected.length == 0) {
        //        alert("Chưa chọn thuyền viên dự trữ!");
        //        return;
        //    }
        //    var tr = anSelected[0];
        //    id = $(tr).attr('id');
        //    ThucHienLenhInsert(0, id);
        //})
        //Sự kiện nhất nút thêm học viên vào lớp đang chọn
        $('#ThemVaoLop').on('click', function (e) {
            //kiểm tra xem đã chọn người nào chưa
            var anSelected = fnGetSelected(tblHocVien);
            if (anSelected.length == 0) {
                alert("Chưa chọn học viên thêm vào lớp!");
                return;
            }
            var tr = anSelected[0];
            id = $(tr).attr('id');
            InsertHocVienvaoLop(id);
        })
        //$('#Replace').on('click', function (e) {
        //    //kiểm tra xem đã chọn người nào chưa
        //    var anSelected1 = fnGetSelected(tblThuyenVien);
        //    if (anSelected1.length == 0) {
        //        alert("Chưa chọn thuyền viên trên tàu!");
        //        return;
        //    }
        //    var tr1 = anSelected1[0];
        //    var id1 = $(tr1).attr('id');

        //    var anSelected2 = fnGetSelected(tblDuTru);
        //    if (anSelected2.length == 0) {
        //        alert("Chưa chọn thuyền viên dự trữ!");
        //        return;
        //    }
        //    var tr2 = anSelected2[0];
        //    var id2 = $(tr2).attr('id');
        //    ThucHienLenhInsert(id1, id2);
        //})
        function InsertHocVienvaoLop(hvid) {
            var url = '@Html.Raw(@Url.Action("InsertHV", "Lop", new { LopID="lop-id", HocVienID ="hocvien-id" }))'
              .replace("lop-id", encodeURIComponent(currentLop))
              .replace("hocvien-id", encodeURIComponent(hvid));
              
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    $('#CTHocVien').html(result);
                    FormatChiTietHocVien();
                    //load lại 2 cái bảng ở trên
                   
                        //LayDanhSachDuTru();
                        RemoveOnTableHocVien();
                   
                }
            });
        }
        function ChuyenLopHocVien(lopcuid, lopmoiid, hvid) {
            var url = '@Html.Raw(@Url.Action("ChuyenHV", "Lop", new { LopcuID="lopcu-id", LopmoiID = "lopmoi-id", HocVienID ="hocvien-id" }))'
              .replace("lopcu-id", encodeURIComponent(lopcuid))
                 .replace("lopmoi-id", encodeURIComponent(lopmoiid))
              .replace("hocvien-id", encodeURIComponent(hvid));

            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    $('#CTHocVien').html(result);
                    FormatChiTietHocVien();
                    //load lại 2 cái bảng ở trên

                    //LayDanhSachDuTru();
                    RemoveOnTableHocVien1();

                }
            });
        }
        @*function ThucHienLenhInsert(idOff, idOn) {
            var url = '@Html.Raw(@Url.Action("InsertKH", "HRM_PLAN", new { TauID = "tau-id", PlanID="plan-id", CrewOffID ="thuyenvienoff-id", CrewOnID = "thuyenvienon-id" }))'
              .replace("tau-id", encodeURIComponent(currentTau))
              .replace("plan-id", encodeURIComponent(@Model.Lop_ID))
              .replace("thuyenvienoff-id", encodeURIComponent(idOff))
              .replace("thuyenvienon-id", encodeURIComponent(idOn));
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    $('#ChiTietKeHoach').html(result);
                    FormatChiTietHocVien();
                    //load lại 2 cái bảng ở trên
                    if (idOff == 0) {
                        //LayDanhSachDuTru();
                        RemoveOnTableHocVien();
                    } else {
                        $('#ChonDuTru').html('');
                        //LayDanhSachThuyenVien();
                        RemoveOnTableThuyenVien();
                    }
                }
            });
        }*@
        //Hàm thực hiện remove dòng thay vì load lại
        //function RemoveOnTableThuyenVien() {
        //    tblThuyenVien.row('.selected').remove().draw(false);
        //}
        function RemoveOnTableHocVien() {
            tblHocVien.row('.selected').remove().draw(false);
        }
        function RemoveOnTableHocVien1() {
            tblHocVien1.row('.selected').remove().draw(false);
        }
       // THỰC HIỆN NHẬP ĐIỂM CỦA HỌC VIÊN
        function KiemTraBangCap(id) {
            var url = '@Html.Raw(@Url.Action("EditOne", "DiemHocVien", new { id = "cthocvien-id"}))'
              .replace("cthocvien-id", encodeURIComponent(id));
              
            //$.ajax({
            //    url: url,
            //    type: 'get',
            //    success: function (result) {
            //        $('#myModalContent').html(result);
            //        $('#myModal').modal('show');
            //    }
            //});
            //goi modal
            $('#myModalContent').load(url, function () {

                $.validator.unobtrusive.parse($('form'));

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindFormNhapDiemHocVienTheoLop(this);
            });

            return false;
        }
        //sửa ghi chú trong kế hoạch


        //CÁC HÀM SỬ DỤNG
        //LẤY DANH SÁCH THUYỀN VIÊN
        /* Get the rows which are currently selected */
        function fnGetSelected(oTableLocal) {
            return oTableLocal.$('tr.selected');
        }
        @*function LayDanhSachThuyenVien() {
            var url = '@Html.Raw(@Url.Action("dsHocVien", "Lop", new { TauID = "tau-id", PlanID="plan-id"}))'
              .replace("tau-id", encodeURIComponent(currentTau)).replace("plan-id", encodeURIComponent(@Model.Lop_ID));
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    $('#ChonThuyenVien').html(result);
                    FormatDanhSachLop();
                }
            });
        }*@

        //LẤY DANH SÁCH HỌC VIÊN THEO KHÔNG TRONG LỚP CHỌN Ở TRÊN
        function LayDanhSachHocVien() {
            var url = '@Html.Raw(@Url.Action("dsHocVien0", "Lop", new {lopID ="lop-id"}))'
               .replace("lop-id", encodeURIComponent(currentLop));

            //$("#loadingImage").show();
            $.ajax({
                ////set global = false nếu không muốn hiện loading image
                //global: false,
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    //$("#loadingImage").hide();
                    $('#ChonHocVien').html(result);
                    FormatDanhSachHocVien();
                }
            });
        }

        //LẤY DANH SÁCH HỌC VIÊN THEO TRONG LỚP CHỌN Ở TRÊN
        function LayDanhSachHocVienTrongLop() {
            var anSelected = fnGetSelected(tblLop);
            if (anSelected.length == 0) {
                alert("Chưa chọn lớp để xem danh sách!");
                return;
            }
            var tr = anSelected[0];
            id = $(tr).attr('id');
            var url = '@Html.Raw(@Url.Action("dsHocVien1", "Lop", new {lopID ="lop-id"}))'
               .replace("lop-id", encodeURIComponent(id));

            //$("#loadingImage").show();
            $.ajax({
                ////set global = false nếu không muốn hiện loading image
                //global: false,
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    //$("#loadingImage").hide();
                    $('#ChonHocVien').html(result);
                    FormatDanhSachHocVien1();
                }
            });
        }
        //LẤY DANH SÁCH HỌC VIÊN KÈM THEO ĐIỂM
        function LayDanhSachHocVien_Diem() {
            var url = '@Html.Raw(@Url.Action("DsDiemHocVien", "Lop", new {lopID ="lop-id"}))'
               .replace("lop-id", encodeURIComponent(currentLop));

            //$("#loadingImage").show();
            $.ajax({
                ////set global = false nếu không muốn hiện loading image
                //global: false,
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    //$("#loadingImage").hide();
                    $('#CTHocVien').html(result);
                    FormatChiTietHocVien();
                }
            });
        }
        function FormatDanhSachLop() {
            //thiết lập phần search
            $('#tblLop tfoot th').each(function () {
                var title = $(this).text().trim();
                if (title != '') {
                    switch (title) {

                        default:
                            $(this).html('<input style="width:50px" type="text" placeholder="' + title + '" />');
                            break;
                    }
                } else {
                    $(this).html('');
                }
            });

            //----------thực hiện hiển thị dạng datatable---------------------
            tblLop = $('#tblLop').DataTable({
                "info": false,
                "columnDefs": [
                {
                    "orderable": false,
                    "searchable": false,
                    "className": 'select-checkbox',
                    "targets": 0
                }
                ],
                "select": {
                    "style": 'os',
                    "selector": 'td:first-child'
                },
            });
            //bỏ phần hiển thị info và cho cái page dài hết bảng
            //$("#ChonLop div.row:last-child div.col-sm-5").remove();
            //$("#ChonLop div.row:last-child div").removeClass('col-sm-7');
            //$("#ChonLop div.row:last-child div").addClass('col-sm-12');
            //-------------hết phần hiển thị datatable--------------------
            //sự kiện click chọn
            $('#tblLop tbody').on('click', '.select-checkbox', function (e) {
                //lấy ra mã thuyền viên được chọn ở đây
                var $row = $(this).closest('tr');
                currentLop = $row.attr('id');
                //currentTau = $row.attr('data-dept-id');
                //lấy danh sách thuyền viên dự trữ tương ứng
                LayDanhSachHocVien_Diem();
                LayDanhSachHocVienTrongLop();
            });
            // Apply the search
            tblLop.columns().every(function (index) {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    that
                        .search(this.value)
                        .draw();
                });
            });
        }

        function FormatDanhSachHocVien() {
            //thiết lập phần search
            $('#tblHocVien tfoot th').each(function () {
                var title = $(this).text().trim();
                if (title != '') {
                    switch (title) {

                        default:
                            $(this).html('<input style="width:50px" type="text" placeholder="' + title + '" />');
                            break;
                    }

                } else {
                    $(this).html('');
                }
            });
            //----------thực hiện hiển thị dạng datatable---------------------
            tblHocVien = $('#tblHocVien').DataTable({
                "info": false,
                "columnDefs": [
                {
                    "orderable": false,
                    "searchable": false,
                    "className": 'select-checkbox',
                    "targets": 0
                }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
            });
            //-------------hết phần hiển thị datatable--------------------
            // Apply the search
            tblHocVien.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
        function FormatDanhSachHocVien1() {
            //thiết lập phần search
            $('#tblHocVien1 tfoot th').each(function () {
                var title = $(this).text().trim();
                if (title != '') {
                    switch (title) {

                        default:
                            $(this).html('<input style="width:50px" type="text" placeholder="' + title + '" />');
                            break;
                    }

                } else {
                    $(this).html('');
                }
            });
            //----------thực hiện hiển thị dạng datatable---------------------
            tblHocVien1 = $('#tblHocVien1').DataTable({
                "info": false,
                "columnDefs": [
                {
                    "orderable": false,
                    "searchable": false,
                    "className": 'select-checkbox',
                    "targets": 0
                }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
            });
            //-------------hết phần hiển thị datatable--------------------
            // Apply the search
            tblHocVien1.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
        function FormatChiTietHocVien() {

            //----------thực hiện hiển thị dạng datatable---------------------
            tblCTHocVien = $('#tblCTHocVien').DataTable({
                "info": false,
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                //"columnDefs": [
                //    { "visible": false, "targets": 0 }
                //],
                //"order": [[0, 'asc']],
                //"displayLength": 25,
                //"drawCallback": function (settings) {
                //    var api = this.api();
                //    var rows = api.rows({ page: 'current' }).nodes();
                //    var last = null;

                //    api.column(0, { page: 'current' }).data().each(function (group, i) {
                //        if (last !== group) {
                //            $(rows).eq(i).before(
                //                '<tr class="group" style="background-color:#fff;color:blue"><td colspan="2">Tàu: <strong>' + group + '</strong></td></tr>'
                //            );

                //            last = group;
                //        }
                //    });
                //}
            });
            //-------------hết phần hiển thị datatable--------------------
        }
    </script>
}