﻿@model IEnumerable<NhuDangCenter.Models.CTHocVien>

 
<table id="tblCTHocVien" class="table table-striped jambo_table border-right action-table">
    <thead>
        
                <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.HocVien.HocVien_Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Diem1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem4)
            </th>
            
            <td></td>
            
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocVien.HocVien_Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Diem1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem4)
                </td>
                <td>
                 
                    <a href="#" onclick="KiemTraBangCap(@item.CTHocVien_ID);"><i class="fa fa-check"></i></a>
                 </td>
                 
                @{ stt++;}
            </tr>
                    }
    </tbody>
</table>
 