﻿@model  IEnumerable<NhuDangCenter.Models.store_Lop_HocVien_Result>

 Không thuộc lớp @ViewBag.TenLop
<table id="tblHocVien" class="table table-bordered table-hover table-striped">
    <thead>
        
    <tr>
            <th></th>
            <th>
                Họ tên
            </th>
            <th>
               Ngày sinh
            </th>
             
            
        </tr>
    </thead>
    <tfoot>

        <tr>
            <th></th>
            <th>
                Họ tên
            </th>
            <th>
                Ngày sinh
            </th>


        </tr>
    </tfoot>
    <tbody>
        
        @foreach (var item in Model)
        {
            string rowID = item.HocVien_ID.ToString();
         
            <tr id="@rowID">
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocVien_Name)
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.NgaySinh)
                  @*  @Html.DisplayFor(modelItem => item.NgaySinh)*@
                </td>

            </tr>
                    }
    </tbody>
</table>
 