﻿@model IEnumerable<NhuDangCenter.Models.Lop>

                <table id="tblLop" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                               Lớp
                            </th>
                            <th>
                                Giáo viên
                            </th>
                            <th>
                                Thứ
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                       
                      <tr>
                          <th></th>
                          <th>
                              Lớp
                          </th>
                          <th>
                              Giáo viên
                          </th>
                          <th>
                              Thứ
                          </th>
                          <th>
                              Tình trạng
                          </th>
                        
                    </tr>
                        </tfoot>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        string rowID = item.Lop_ID.ToString();
                        //string tauID = item..ToString();
                        <tr id="@rowID">
                            <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lop_Name)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaoVien.GiaoVien_Name)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Thu.Thu_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TinhTrangLop.TinhTrangLop_Name)
                            </td>
                           
                        </tr>
                    }
</tbody>
                </table>
            
