﻿@model IEnumerable<NhuDangCenter.Models.Lop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <text>DANH SÁCH LỚP</text>
}




<p>
    <a data-modal href="@Url.Action("Create", "Lop")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>

@*<div class="col-md-9 col-sm-9 col-xs-12">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTabs" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true" title="Thông tin cơ bản">Tất cả các lớp</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_content2" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false" data-url="@Url.Action("LopDuKien", "Lop")" title="Lớp dự kiến">Lớp dự kiến</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_content3" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false" data-url="@Url.Action("LopDangMo", "Lop")" title="Lớp đang mở">Lớp đang mở</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_content4" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false" data-url="@Url.Action("LopKetThuc", "Lop")" title="Lớp kết thúc">Lớp kết thúc</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">*@
                <table id="LopList" class="table table-striped jambo_table border-right action-table">
                    <thead>
                        <tr>
                            <th></th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.MaLop)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Lop_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BatDau)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KetThuc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThoiGianLop)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HocPhi)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.TroGiang_ID)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.Ca_ID)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.CapDo_ID)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.GiaoVien_ID)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Phong_ID)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.Thu_ID)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.LuongTroGiang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LuongGiangChinh)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.TinhTrangLop_ID)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">@stt</td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.MaLop)
                                </td>*@
                                <td style="width:300px; text-align:left">
                                    <a href="@Url.Action("Details", "Lop", new { id=item.Lop_ID })" data-modal>@item.Lop_Name</a>
                                    @*@Html.DisplayFor(modelItem => item.Lop_Name)*@
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.BatDau)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.KetThuc)
                                </td>
                                <td style="width:30px; text-align:center">
                                    @Html.DisplayFor(modelItem => item.ThoiGianLop)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.HocPhi)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.TroGiang_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ca.Ca_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CapDo.CapDo_Name)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.GiaoVien.GiaoVien_Name)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Phong.Phong_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Thu.Thu_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LuongTroGiang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LuongGiangChinh)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.TinhTrangLop.TinhTrangLop_Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Lop", new { id=item.Lop_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Lop", new { id=item.Lop_ID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>

                                </td>
                                @{ stt++;}
                            </tr>

                                    }
                    </tbody>

                </table>
            @*</div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <!-- bang danh sach qua trinh cong tac -->
                <!-- end user projects -->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

            </div>

            <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">

            </div>
            
            </div>
        </div>
    </div>*@
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function () {
            var t = $('#LopList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets":3
                },
                ],
                "order": [[0, 'asc']]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
        
    </script>
}
