﻿@model  IEnumerable<NhuDangCenter.Models.store_ThoiKhoaBieu_Result>

@{
    ViewBag.Title = "Index";
}

<h2>THỜI KHÓA BIỂU TRUNG TÂM</h2>
                <table id="LopList" class="table table-bordered table-hover table-striped action-table">
                    <thead>
                        <tr>
                            <th rowspan="2">Ca học</th>
                            @foreach (var item in ViewBag.Thus)
                            {
                                <th colspan="3">@item.Thu_Name</th>

                            }
                            @*<th colspan="3">Thứ 2,4,6</th>
                            <th colspan="3">Thứ 3,5,7</th>
                            <th colspan="3">Thứ 2,4</th>*@
                        </tr>
                        <tr>
                            <th>Lớp</th>
                            <th>Giáo viên</th>
                            <th>Phòng</th>
                            <th>Lớp</th>
                            <th>Giáo viên</th>
                            <th>Phòng</th>
                            <th>Lớp</th>
                            <th>Giáo viên</th>
                            <th>Phòng</th>

                        </tr>
                    </thead>
                    @*<tfoot>
                        <tr>
                            <th rowspan="2">Ca học</th>
                            <th colspan="3">Thứ 2,4,6</th>
                            <th colspan="3">Thứ 3,5,7</th>
                            <th colspan="3">Thứ 2,4</th>
                        </tr>
                        <tr>
                            <th>Lớp</th>
                            <th>Giáo viên</th>
                            <th>Phòng</th>
                            <th>Lớp</th>
                            <th>Giáo viên</th>
                            <th>Phòng</th>
                            <th>Lớp</th>
                            <th>Giáo viên</th>
                            <th>Phòng</th>

                        </tr>
                    </tfoot>*@
                    <tbody>
                        @{int stt = -1; }
                        @foreach (var item1 in ViewBag.Thus)
                        {
                            //Với mỗi thứ sẽ thêm vào thời khóa biểu
                            stt++;
                            //lấy dữ liệu của mỗi thứ

                            foreach (var item in Model)
                            {
                                if (item.CT_Thu == ViewBag.Thus[stt].CT_Thu)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ca_Name)
                                </td>
                                @for (int i = 0; i < stt * 3; i++)
                                {
                                    <td></td>
                                }
                                    @if (item.CT_Thu == ViewBag.Thus[stt].CT_Thu)
                                    {

                                <td>
                                    @Html.DisplayFor(modelItem => item.Lop_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GiaoVien_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phong_Name)
                                </td>
                                    }
                                @for (int i = (stt * 3) + 4; i < (Enumerable.Count(ViewBag.Thus) * 3) + 1; i++)
                                {
                                    <td ></td>
                                }
                                    
                            </tr>
                                    }
                                }
                            }
                        @*@foreach (var item in Model)
                        {
                            if (item.CT_Thu == "3,5,7")
                            {


                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ca_Name)
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lop_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaoVien_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phong_Name)
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            }
                        }
                        @foreach (var item in Model)
                        {
                            if (item.CT_Thu == "2,4")
                            {


                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ca_Name)
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lop_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaoVien_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phong_Name)
                                    </td>


                                </tr>
                            }
                        }*@
                    </tbody>
                </table>
          
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section Scripts{
@Scripts.Render("~/vendors/DataTables/js")
@Scripts.Render("~/vendors/DataTables/Buttons/js")
@Scripts.Render("~/bundles/jqueryval")
<!--modal form-->
@Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#LopList').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": 0 }
                ],
                "order": [[ 0, 'asc' ]],
                "displayLength": 25,
                "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last=null;
 
                    api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            $(rows).eq( i ).before(
                                '<tr class="group"><td style="color:red" colspan="10">' + group + '</td></tr>'
                            );
 
                            last = group;
                        }
                    } );
                }
            } );
        })
        //$(document).ready(function () {
        //    var t = $('#LopList').DataTable({
        //        "language": {
        //            "url": "/vendors/DataTables/langs/Vietnamese.json"
        //        },
        //        "columnDefs": [{
        //            "searchable": false,
        //            "orderable": false,
        //            "targets": 0
        //        },
        //        {
        //            "searchable": false,
        //            "orderable": false,
        //            "targets": 3
        //        }],
                 
        //    });
        //    t.on('order.dt search.dt', function () {
        //        t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        //            cell.innerHTML = i + 1;
        //        });
        //    }).draw();
        //});
        @*function HienThiModal(href,tab) {
            $('#myModalContent').load(href, function () {
                // this is the first add
                $.validator.unobtrusive.parse($('form'));
                $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true }, $.datepicker.regional["vi"]);
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this,tab);
            });
        };
        function bindForm(dialog,tab) {
            $('form', dialog).submit(function () {
                var data = $(this).serialize();
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: data,
                        success: function (result) {
                            //đóng modal form
                            $("#myModal").modal('hide');
                            //load lại bảng
                            $("#" + tab).html(result);
                            //var div = document.getElementById(tab);
                            //div.innerHTML(result);
                        }
                    });
                    return false;
                }
            });
        }
        $('#myTabs a').click(function (e) {
            e.preventDefault();

            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);

            // ajax load from data-url
            $(href).load(url, function (result) {
                pane.tab('show');
                /*Thêm sự kiện double click cho bảng relative*/
                $('#EmployeeRelativeList tr').dblclick(function () {
                    var id = $(this).attr('id');
                    id = id.replace('HRM_EMPLOYEE_RELATIVE_', '');
                    var url = '@Url.Action("Details", "HRM_EMPLOYEE_RELATIVE", new { id = "js-id", data_modal="" })'
                      .replace("js-id", encodeURIComponent(id));
                    $.get(url, function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    });
                });
                /*Thêm sự kiện double click cho bảng relative*/
                $('#EmploymentHistoryList tr').dblclick(function () {
                    var id = $(this).attr('id');
                    id = id.replace('HRM_EMPLOYMENTHISTORY_', '');
                    var url = '@Url.Action("Details", "HRM_EMPLOYMENTHISTORY", new { id = "js-id", data_modal="" })'
                      .replace("js-id", encodeURIComponent(id));
                    $.get(url, function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    });
                });
            });
        });*@
    </script>
}
