﻿@model  IEnumerable<NhuDangCenter.Models.store_ThoiKhoaBieu_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <text>THỜI KHÓA BIỂU TRUNG TÂM</text>
}


                <table id="TKBList" class="table table-bordered table-hover table-striped action-table">
                    <thead>
                        <tr>
                           <th rowspan="2">Thứ</th>
                            <th rowspan="2">Ca</th>
                            <th style="text-align:center" colspan="@Enumerable.Count(ViewBag.Phongs)">Phòng học</th>
                            </tr>
                        <tr style="text-align:center">
                            @foreach (var item in ViewBag.Phongs)
                            {
                                <th style="width:300px; text-align:center">@item.Phong_Name</th>

                            }
                           
                        </tr>
                       
                    </thead>
                   
                    <tbody>
                        @{int stt = -1; }
                        @foreach (var item1 in ViewBag.Thus)
                        {

                            <tr>

                                <td style="text-align:center" rowspan="@Enumerable.Count(ViewBag.Cas)" >@item1</td>
                                <td style="width:100px" > @ViewBag.Cas[0].Ca_Name</td>
                                @foreach (var item in ViewBag.Phongs)
                                {


                                    var itemsdk = Model.Where(c => c.Ca_Name == ViewBag.Cas[0].Ca_Name && c.CT_Thu.Contains(item1) && c.Phong_Name == item.Phong_Name);

                                    if(itemsdk.Count() ==0)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        //kiểm tra xem có nhiều phần tử k
                                        <td  style="width:300px; text-align:center">
                                            @foreach (var item3 in itemsdk)
                                            {


                                                @item3.Lop_Name <br /> @item3.GiaoVien_Name <br /> <text> (</text> @String.Format("{0:dd/MM/yyyy}",item3.BatDau )<text> - </text>@String.Format("{0:dd/MM/yyyy}", item3.KetThuc) <text> )</text> <br /><text> ----------------------</text><br />

                                            }
                                        </td>
                                    }
                                }

                                </tr>
                            for (int i = 1; i < @Enumerable.Count(ViewBag.Cas); i++)
                                   {
                                <tr>
                                    <td>@ViewBag.Cas[i].Ca_Name</td>
                                    @foreach (var item in ViewBag.Phongs)
                                    {
                                        if ((Model.Where(c => c.Ca_Name == ViewBag.Cas[0].Ca_Name && c.CT_Thu.Contains(item1) && c.Phong_Name == item.Phong_Name)) == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td  style="width:300px; text-align:center">
                                                                                                @foreach (var item3 in Model.Where(c => c.Ca_Name == ViewBag.Cas[i].Ca_Name && c.CT_Thu.Contains(item1) && c.Phong_Name == item.Phong_Name))
                                                                                                {

                                                                                                    @item3.Lop_Name<br /> @item3.GiaoVien_Name <br /> <text> (</text> @String.Format("{0:dd/MM/yyyy}", item3.BatDau)<text> - </text>@String.Format("{0:dd/MM/yyyy}", item3.KetThuc) <text> )</text> <br /><text> ----------------------</text><br />

                                                                                                        }
</td>
                                        }
                                    }

                                </tr>

                            }







                               }
                    </tbody>
                </table>

@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function () {
            var t = $('#TKBList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets":3
                },
                ],
                "order": [[0, 'asc']]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

    </script>
}