﻿@model NhuDangCenter.Models.HocVien

@{
    ViewBag.Title = "chitiet";
}

<h2>chitiet</h2>

<div>
    <h4>HocVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HocVien_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocVien_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTaoHocVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTaoHocVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang.TinhTrang_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang.TinhTrang_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HocVien_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
