﻿@model NhuDangCenter.Models.HocVien

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <text>Thêm mới học viên</text>
}


@using (Html.BeginForm("Create", "HocVien", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="width:50%; margin-left:50px">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HocVien_Name)
                        @Html.EditorFor(model => model.HocVien_Name, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                        @Html.ValidationMessageFor(model => model.HocVien_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GioiTinh)
                        @Html.EditorFor(model => model.GioiTinh)
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgaySinh)

                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
 
            <div class="row">
               
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaChi)

                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DienThoai)

                        @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

           





            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HinhAnh)

                        <input type="file" id="Avatar" name="upload" accept="image/x-png, image/gif, image/jpeg" />
                        <img id="hienThi" src="#" style="display:none;" width="200" />
                        <button id="XoaHinhAnh" type="button" onclick="XoaHinh()" style="display:none;">Xóa hình ảnh</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TinhTrang_ID)

                        @Html.DropDownList("TinhTrang_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TinhTrang_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsDaiDuong)

                        <div class="checkbox" style="padding-top:0px;">
                            @Html.EditorFor(model => model.IsDaiDuong)
                            @Html.ValidationMessageFor(model => model.IsDaiDuong, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Lưu thông tin
                        </button>
                        <a href="@Url.Action("Index", "HocVien")" class="btn btn-link"><i class="fa fa-arrow-left m-right-xs"></i>Quay về danh sách</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function XoaHinh() {
            $('#Avatar').val('');
            $('#hienThi').hide();
            $('#XoaHinhAnh').hide();
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#hienThi').attr('src', e.target.result);
                    $('#hienThi').show();
                    $('#XoaHinhAnh').show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Avatar").change(function () {
            var ar_ext = ['png', 'gif', 'jpg'];
            if (Thanh_checkFile(this, ar_ext)) {
                readURL(this);
            } else {
                alert('Bạn phải chọn file hình ảnh (.png, .jpg, .gif)');
                this.value = '';
                $('#hienThi').hide();
                $('#XoaHinhAnh').hide();
            }

        });
    </script>
}
