﻿@model NhuDangCenter.Models.HocVien
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section huongdan{
    <text>Xóa học viên</text>
}

<h3> @ViewBag.thongbao</h3>

<table class="table no-border table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HocVien_Name)
        </th>

        <td>
            @Html.DisplayFor(model => model.HocVien_Name)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>

        <td>
            @Html.DisplayFor(model => model.GioiTinh)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>

        <td>
            @Html.DisplayFor(model => model.NgaySinh)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>

        <td>
            @Html.DisplayFor(model => model.DiaChi)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>

        <td>
            @Html.DisplayFor(model => model.DienThoai)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>


        
        </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i> Xóa
        </button>
        <a href="@Url.Action("Index", "HocVien")" class="btn btn-link"><i class="fa fa-arrow-left m-right-xs"></i>Quay về danh sách</a>
    </div>
}
 
