﻿@model NhuDangCenter.Models.HocVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@*<div>
    <a href="@Url.Action("Index", "HRM_EMPLOYEE")" class="btn btn-link"><i class="fa fa-arrow-left m-right-xs"></i>Quay về danh sách</a></div>
@{
    string hoten = Model.FirstName + " " + @Model.LastName;
}*@
<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
    <div class="profile_img">
        <!-- Current avatar -->
        @{
            if (Model.HinhAnh != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.HinhAnh);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc" class="img-responsive avatar-view" />
            }
            else
            {
                <img class="img-responsive avatar-view" src="~/images/user.png" alt="Avatar">

            }
        }
    </div>
    <h3>
       @Model.HocVien_Name
    </h3>
    <ul class="list-unstyled user_data">
        <li>
            <i class="fa fa-map-marker user-profile-icon"></i> @Model.DiaChi
        </li>
        <li>
            <i class="fa fa-calendar user-profile-icon"></i> @Html.DisplayFor(model => model.NgaySinh)
        </li>

        <li>
            <i class="fa fa-phone user-profile-icon"></i> @Model.DienThoai
        </li>
        <li>
            <i class="fa fa-check user-profile-icon"></i> @Model.TinhTrang.TinhTrang_Name
        </li>
    </ul>
    <a class="btn btn-success" href="@Url.Action("Edit", "HocVien", new { id=Model.HocVien_ID })"><i class="fa fa-edit m-right-xs"></i>Chỉnh sửa</a>
    <br />
</div>

<div class="col-md-9 col-sm-9 col-xs-12">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTabs" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true" title="Thông tin cơ bản">Chi tiết</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_content2" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false" data-url="@Url.Action("DiemHocVien", "DiemHocVien", new { id=Model.HocVien_ID })" title="Bảng điểm">Bảng điểm</a>
            </li>
            <li role="presentation" class="">
                <a href="#tab_content3" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false" data-url="@Url.Action("ChungChiHocVien", "ChungChi", new { id=Model.HocVien_ID })" title="Chứng chỉ">Chứng chỉ</a>
            </li>
            
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <table class="table no-border table-striped table-hover">
                    <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HocVien_Name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.HocVien_Name)
                    </td>
</tr><tr>
    <th>
        @Html.DisplayNameFor(model => model.GioiTinh)
    </th>

    <td>
        @Html.DisplayFor(model => model.GioiTinh)
    </td>
</tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.NgaySinh)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.DiaChi)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DienThoai)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.DienThoai)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>

                        @*<th>
                            @Html.DisplayNameFor(model => model.NgayTaoHocVien)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.NgayTaoHocVien)
                        </td>

                        <th>
                            @Html.DisplayNameFor(model => model.TinhTrang.TinhTrang_Name)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.TinhTrang.TinhTrang_Name)
                        </td>*@
                    </tr>
                    <tr>
                        
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
            <!-- bang danh sach qua trinh cong tac -->
            <!-- end user projects -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

        </div>

       
        
    </div>
</div>
</div>
@section Scripts{
    <script type="text/javascript">
        function HienThiModal(href,tab) {
            $('#myModalContent').load(href, function () {
                // this is the first add
                $.validator.unobtrusive.parse($('form'));
                $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true }, $.datepicker.regional["vi"]);
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this,tab);
            });
        };
        function bindForm(dialog,tab) {
            $('form', dialog).submit(function () {
                var data = $(this).serialize();
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: data,
                        success: function (result) {
                            //đóng modal form
                            $("#myModal").modal('hide');
                            //load lại bảng
                            $("#" + tab).html(result);
                            //var div = document.getElementById(tab);
                            //div.innerHTML(result);
                        }
                    });
                    return false;
                }
            });
        }
        $('#myTabs a').click(function (e) {
            e.preventDefault();

            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);

            // ajax load from data-url
            $(href).load(url, function (result) {
                pane.tab('show');
                /*Thêm sự kiện double click cho bảng relative*/
                $('#EmployeeRelativeList tr').dblclick(function () {
                    var id = $(this).attr('id');
                    id = id.replace('HRM_EMPLOYEE_RELATIVE_', '');
                    var url = '@Url.Action("Details", "HRM_EMPLOYEE_RELATIVE", new { id = "js-id", data_modal="" })'
                      .replace("js-id", encodeURIComponent(id));
                    $.get(url, function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    });
                });
                /*Thêm sự kiện double click cho bảng relative*/
                $('#EmploymentHistoryList tr').dblclick(function () {
                    var id = $(this).attr('id');
                    id = id.replace('HRM_EMPLOYMENTHISTORY_', '');
                    var url = '@Url.Action("Details", "HRM_EMPLOYMENTHISTORY", new { id = "js-id", data_modal="" })'
                      .replace("js-id", encodeURIComponent(id));
                    $.get(url, function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    });
                });
            });
        });
    </script>
}


