﻿@model IEnumerable<NhuDangCenter.Models.HocVien>

@{
    ViewBag.Title = "Index";
}
@section huongdan{
    <text>DANH SÁCH HỌC VIÊN</text>
}
<p>
    <a href="@Url.Action("Create", "HocVien")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table id="HocVienList" class="table table-bordered table-hover table-striped action-table">
    <thead>
      
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.HocVien_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTaoHocVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang.TinhTrang_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>
                     
                    <a href="@Url.Action("Details", "HocVien", new { Id=item.HocVien_ID})">@Html.DisplayFor(modelItem => item.HocVien_Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTaoHocVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang.TinhTrang_Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "HocVien", new { id=item.HocVien_ID })" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "HocVien", new { id=item.HocVien_ID })" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
 

                </td>
           
            @{ stt++;}
        </tr>
                }
    </tbody>
</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section Scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
@Scripts.Render("~/bundles/modalformUpload")
    <script type="text/javascript">
        $(document).ready(function () {

           var tblbaocaokhcn = $('#HocVienList').DataTable({
                "info": false,
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": 8 }
                ],
                "order": [[8, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(8, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#9ac1cb;"><td colspan="9">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
           });
            // Order by the grouping
           $('#HocVienList tbody').on('click', 'tr.group', function () {
               var currentOrder = table.order()[0];
               if (currentOrder[0] === 8 && currentOrder[1] === 'asc') {
                   table.order([8, 'desc']).draw();
               }
               else {
                   table.order([8, 'asc']).draw();
               }
           });

        });

    </script>
}
