﻿@model NhuDangCenter.Models.ChiKhac

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa chi khác này?</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.SoPhieu):</th>
            <td>@Html.DisplayFor(model => model.SoPhieu)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ngay):</th>
            <td>@Html.DisplayFor(model => model.Ngay)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SoTien):</th>
            <td>@Html.DisplayFor(model => model.SoTien)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NoiDung):</th>
            <td>@Html.DisplayFor(model => model.NoiDung)</td>
        </tr>        
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}