﻿@model NhuDangCenter.Models.TuNgayDenNgay
@{
    IEnumerable<NhuDangCenter.Models.ChiKhac> bangKe = (IEnumerable<NhuDangCenter.Models.ChiKhac>)ViewBag.BangKe;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="text-align:center; margin-bottom:15px;">
            <div class="form-group">
                @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.TuNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.DenNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-calculator"></i> Xem thông tin
                    </button>
                </div>
            </div>
        </div>


    </div>
}
<p>
    <a href="@Url.Action("Create", "ChiKhacs")" class="btn btn-primary" data-modal><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
@if (bangKe != null)
{
    <table class="table table-bordered table-striped table-hover" id="bangChi">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                   Số phiếu
                </th>
                <th>
                   Ngày
                </th>
                <th>
                    Số tiền
                <th>
                    Nội dung
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bangKe)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoPhieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDung)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ChiKhacs", new { id=item.ChiKhac_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "ChiKhacs", new { id=item.ChiKhac_ID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function () {
            LoadDatatable();
        })
        function LoadDatatable() {
            t = $('#bangChi').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }
    </script>
}
