﻿@model NhuDangCenter.Models.TuNgayDenNgay
@{
    IEnumerable<NhuDangCenter.Models.sp_T_BaoCaoThuChi_Result> bangKe = (IEnumerable<NhuDangCenter.Models.sp_T_BaoCaoThuChi_Result>)ViewBag.BangKe;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="text-align:center; margin-bottom:15px;">
            <div class="form-group">
                    @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label" })
             
                    @Html.EditorFor(model => model.TuNgay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label" })
                
                    @Html.EditorFor(model => model.DenNgay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-calculator"></i> Xem thông tin
                    </button>
                </div>
            </div>
        </div>

        
    </div>
}
@if (bangKe != null)
{
    <p>
        <a href="@Url.Action("XuatExcel", "BaoCaoThuChi", new { tuNgay = Model.TuNgay, denNgay = Model.DenNgay })" class="btn btn-primary"><i class="fa fa-file-excel-o m-right-xs"></i>Xuất excel báo cáo</a>
    </p>
    <table class="table table-bordered table-striped table-hover" id="bangKe">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    Nội dung
                </th>
                <th>
                    Thu
                </th>
                <th>
                    Chi
                </th>
                <th>
                    Phân loại
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bangKe)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDung)
                    </td>
                    <td>
                        @if (item.ThuHocPhi > 0)
                        {
                            @Html.DisplayFor(modelItem => item.ThuHocPhi)
                        }                        
                    </td>
                    <td>
                        @if (item.ChiKhac > 0)
                        {
                            @Html.DisplayFor(modelItem => item.ChiKhac)
                        }
                        
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.PhanLoai)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        var columnGroup = 4;
        $(document).ready(function () {
            LoadDatatable();
        })
        function LoadDatatable() {
            t = $('#bangKe').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": columnGroup }
                ],
                "order": [[columnGroup, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(columnGroup, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#fff;"><td colspan="5"><strong>' + group + '</strong></td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }
    </script>
}

