﻿@model NhuDangCenter.Models.CTHocPhi

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Nộp học phí</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.CTHocVien_ID, "CTHocVien_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CTHocVien_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CTHocVien_ID, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                <div class="control-label col-md-2"><b>Học viên</b></div> 
                <div class="col-md-10">
                    @*@Html.DropDownList("HocVien_ID", new SelectList(ViewBag.HocVien, "HocVien_ID", "HocVien_Name"))*@
                    @Html.DropDownList("HocVien_ID", ViewBag.HocVien as SelectList, htmlAttributes: new { @class = "form-control", @onchange="getComboA(this)"})
                   @* @Html.DropDownList("CTHocVien_ID", null, htmlAttributes: new { @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.CTHocVien_ID, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Lớp</b></div>
                <div class="col-md-10">
                    @*@Html.DropDownList("HocVien_ID", new SelectList(ViewBag.HocVien, "HocVien_ID", "HocVien_Name"))*@
                    @Html.DropDownList("Lop_ID", ViewBag.Lop as SelectList, htmlAttributes: new { @class = "form-control" })
                    @* @Html.DropDownList("CTHocVien_ID", null, htmlAttributes: new { @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.CTHocVien_ID, "", new { @class = "text-danger" })*@
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.CTHocVien_ID, "CTHocVien_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CTHocVien_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CTHocVien_ID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.STT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.STT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.STT, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.NgayDongTien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayDongTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayDongTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoTien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MienGiam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MienGiam, new { htmlAttributes = new { @class = "form-control",
                   @title = "Nhập số và bấm enter để tự động tính số tiền còn lại",
                   @onkeypress = "handle(event)" } })
                    @Html.ValidationMessageFor(model => model.MienGiam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConLai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConLai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConLai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LyDoMienGiam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LyDoMienGiam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LyDoMienGiam, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
                <i class="fa fa-ban"></i> Hủy
            </button>
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Lưu thông tin
            </button>
        </div>
}
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section Scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    
<script type="text/javascript">
    $(document).ready(function () {

        //$('#HocVien_ID').change(function () {
        //    LoadRegion(this.value);
        //});
        function getComboA(selectObject) {
            var value = selectObject.value;
            alert(value);
            LoadRegion(value);

        }
        function LoadRegion(HocVien_ID) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("getLop", "HocPhi")',
                data: "{'HocVien_ID':'" + HocVien_ID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                 //   $('#ddlRegion').get(0).options.length = 0;
                //    $('#ddlRegion').get(0).options[0] = new Option("--Select--", "0");

                    $.map(data, function (item) {
                        $("#Lop_ID").empty();
                        item.forEach(function (obj) {
                            $('#Lop_ID').append($('<option></option>').val(obj.Lop_ID).html(obj.Lop_Name))
                        });
                        //$('#Lop_ID').val(item.Coefficient);
                        //$('#Salary').val(item.Salary);
                        //$('#CoefficientIns').val(item.CoefficientIns);
                        //$('#SalaryIns').val(item.SalaryIns);
                    //    $('#ddlRegion').get(0).options[$('#ddlRegion').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () {
                    alert("Failed to load Item");
                }
            });
        }

    });

</script>}