﻿@model IEnumerable<NhuDangCenter.Models.store_NoHocPhi_Result>

@{
    ViewBag.Title = "Index";
}

<p>
    @*<a data-modal href="@Url.Action("Create", "HocVien")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>*@
    <a href="@Url.Action("XuatDsNoHocPhi", "HocPhi")" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-file-excel-o m-right-xs"></i>Xuất danh sách</a>
</p>
<table id="NoHocPhiList" class="table table-bordered table-hover table-striped action-table">
    <thead>
      
        <tr>
            <th></th>
            <th>
               Họ tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocPhi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaNop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop_Name)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>
                 @Html.DisplayFor(modelItem => item.HocVien_Name) 
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.HocPhi)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.DaNop)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.ConNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop_Name)
                </td>
                
                <td>
                    @*<a href="@Url.Action("Edit", "HocVien", new { id=item.HocVien_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "HocVien", new { id=item.HocVien_ID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>*@
 

                </td>
           
            @{ stt++;}
        </tr>
                }
    </tbody>
</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section Scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
@Scripts.Render("~/bundles/modalformUpload")
    <script type="text/javascript">
        $(document).ready(function () {

           var tblnohocphi = $('#NoHocPhiList').DataTable({
                "info": false,
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": 5 }
                ],
                "order": [[5, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(5, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#9ac1cb;"><td colspan="6">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
           });
            // Order by the grouping
           $('#HocVienList tbody').on('click', 'tr.group', function () {
               var currentOrder = table.order()[0];
               if (currentOrder[0] === 5 && currentOrder[1] === 'asc') {
                   table.order([5, 'desc']).draw();
               }
               else {
                   table.order([5, 'asc']).draw();
               }
           });

        });

    </script>
}
