﻿@model NhuDangCenter.Models.CTHocPhi

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa học viên này?</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDongTien)
            </th>

            <td>
                @Html.DisplayFor(model => model.NgayDongTien)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>

            <td>
                @Html.DisplayFor(model => model.SoTien)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MienGiam)
            </th>

            <td>
                @Html.DisplayFor(model => model.MienGiam)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConLai)
            </th>

            <td>
                @Html.DisplayFor(model => model.ConLai)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>

            <td>
                @Html.DisplayFor(model => model.NoiDung)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LyDoMienGiam)
            </th>

            <td>
                @Html.DisplayFor(model => model.LyDoMienGiam)
            </td>
        </tr>
       

    </table>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}
