﻿@model NhuDangCenter.Models.CTHocPhi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CTHocPhi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MienGiam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MienGiam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConLai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyDoMienGiam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDoMienGiam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTHocVien.CTHocVien_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTHocVien.CTHocVien_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
