﻿@model NhuDangCenter.Models.CTHocPhi

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Sửa thông tin học phí</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CTHocVien_ID)

            @Html.HiddenFor(model => model.STT)

            <div class="form-group">
                <div class="control-label col-md-2">Học viên</div>
                <div class="col-md-10">
                    @ViewBag.HocVien 
                    @*@Html.DropDownList("HocVien_ID", new SelectList(ViewBag.HocVien, "HocVien_ID", "HocVien_Name"))*@
                    @*@Html.DropDownList("HocVien_ID", ViewBag.HocVien as SelectList, htmlAttributes: new { @class = "form-control", @onchange = "getComboA(this)" })*@
                    @* @Html.DropDownList("CTHocVien_ID", null, htmlAttributes: new { @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.CTHocVien_ID, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">Lớp</div>
                <div class="col-md-10">
                      @ViewBag.HocVien 
                    @*@Html.DropDownList("HocVien_ID", new SelectList(ViewBag.HocVien, "HocVien_ID", "HocVien_Name"))*@
                    @*@Html.DropDownList("Lop_ID", ViewBag.Lop as SelectList, htmlAttributes: new { @class = "form-control" })*@
                    @* @Html.DropDownList("CTHocVien_ID", null, htmlAttributes: new { @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.CTHocVien_ID, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NgayDongTien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayDongTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayDongTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoTien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MienGiam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MienGiam, new { htmlAttributes = new { @class = "form-control", @onkeypress = "handle(event)" } })
                    @Html.ValidationMessageFor(model => model.MienGiam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConLai, htmlAttributes: new { @class = "control-label col-md-2"  })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConLai, new { htmlAttributes = new { @class = "form-control"  } })
                    @Html.ValidationMessageFor(model => model.ConLai, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LyDoMienGiam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LyDoMienGiam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LyDoMienGiam, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                </div>
            </div>

            

           
        </div>
    </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
                <i class="fa fa-ban"></i> Hủy
            </button>
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Lưu thông tin
            </button>
        </div>
}