﻿@*@model IEnumerable<NhuDangCenter.Models.CTHocPhi>*@
@model NhuDangCenter.Models.TuNgayDenNgay
@{
    IEnumerable<NhuDangCenter.Models.CTHocPhi> hocPhi = (IEnumerable<NhuDangCenter.Models.CTHocPhi>)ViewBag.HocPhi;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section huongdan{
    <text>DANH SÁCH THU HỌC PHÍ</text>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="text-align:center; margin-bottom:15px;">
            <div class="form-group">
                @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.TuNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.DenNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-calculator"></i> Xuất danh sách
                    </button>
                </div>
            </div>
        </div>
    </div>
}


<p>
    <a data-modal href="@Url.Action("Create", "HocPhi")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
  @*  <a data-modal href="@Url.Action("LocDanhSach", "HocPhi")" class="btn btn-info"><i class="fa fa-file-excel-o m-right-xs"></i>Xuất danh sách thu học phí</a>*@
</p>

<table id="HocPhiList" class="table table-striped jambo_table border-right action-table">
    <thead>

        <tr>
            <th></th>
            <th>
               Họ tên
            </th>
            <th>
                Ngày đóng tiền
            </th>
            <th>
               Số tiền
            </th>
            <th>
               Miễn giảm (%)
            </th>
            <th>
               Đã nộp
            </th>
            <th>
               Nội dung
            </th>
            <th>
               Lý do miễn giảm
            </th>
           
            <th>
                Lớp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in hocPhi)
        {
            <tr>
                <td>@stt</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CTHocVien.HocVien.HocVien_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDongTien)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.SoTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MienGiam)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.ConLai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDoMienGiam)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CTHocVien.Lop.Lop_Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "HocPhi", new { id=item.CTHocVien_ID, stt=item.STT })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "HocPhi", new { id=item.CTHocVien_ID, stt=item.STT })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                    
                   <a href="@Url.Action("PhieuThu", "HocPhi", new { cthv = item.CTHocVien_ID, stt1 = item.STT })" class="btn btn-success btn-xs" target="_blank"><i class="fa fa-file-excel-o"></i>Phiếu thu</a>
                </td>

                @{ stt++;}
            </tr>
                    }
    </tbody>
</table>

 
@section Styles{
                       @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
                   @section Scripts{
                       @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    @*@Scripts.Render("~/bundles/modalformUpload")*@
    <script type="text/javascript">
        $(document).ready(function () { // will trigger when the document is ready
            $('.datetimepicker1').datepicker(); //Initialise any date pickers
        });
        $(document).ready(function () {

            var t = $('#HocPhiList').DataTable({
                "info": false,
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": 8 }
                ],
                "order": [[8, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(8, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#9ac1cb;"><td colspan="9">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#HocVienList tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 8 && currentOrder[1] === 'asc') {
                    table.order([8, 'desc']).draw();
                }
                else {
                    table.order([8, 'asc']).draw();
                }
            });
        });
//LOAD LỚP HỌC THEO TỪNG HỌC VIÊN
         function getComboA(selectObject) {
              var value = selectObject.value;
              //alert(value);
              LoadRegion(value);

          }


        function LoadRegion(HocVien_ID) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("getLop", "HocPhi")',
                data: "{'HocVien_ID':'" + HocVien_ID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    //   $('#ddlRegion').get(0).options.length = 0;
                    //    $('#ddlRegion').get(0).options[0] = new Option("--Select--", "0");
                    $("#Lop_ID").empty();
                    $.map(data, function (item) {


                        $('#Lop_ID').append($('<option></option>').val(item.Lop_ID).html(item.Lop_Name))
                            //$('#Lop_ID').append('<span>' + obj[0].Lop_ID+ "  " + obj[0].Lop_Name + "</span><br />");

                        //item.forEach(function (obj) {
                        //    $('#Lop_ID').append($('<option></option>').val(obj.Lop_ID).html(obj.Lop_Name))
                        //});
                        //$('#Lop_ID').val(item.Coefficient);
                        //$('#Salary').val(item.Salary);
                        //$('#CoefficientIns').val(item.CoefficientIns);
                        //$('#SalaryIns').val(item.SalaryIns);
                        //    $('#ddlRegion').get(0).options[$('#ddlRegion').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () {
                    alert("Failed to load Item");
                }
            });
        }

        ///TỰ ĐỘNG TÍNH TIỀN MIỄN GIẢM
        function handle(e) {
            if (e.keyCode == 13) {
                e.preventDefault(); // Ensure it is only this code that rusn
                TestRules($("#SoTien").val(), $("#MienGiam").val());
                //  alert("Enter was pressed was presses");
            }
        }

        function TestRules(SoTien, MienGiam) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("MienGiam", "HocPhi")',
                data: "{'SoTien':'" + SoTien + "', 'MienGiam':'" + MienGiam + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    //   $('#ddlRegion').get(0).options.length = 0;
                    //    $('#ddlRegion').get(0).options[0] = new Option("--Select--", "0");

                    $.map(data, function (item) {
                        //Lấy dữ liệu và so sánh

                        $('#ConLai').val(item.MienGiam);
                        //$('#Salary').val(item.Salary);
                        //$('#CoefficientIns').val(item.CoefficientIns);
                        //$('#SalaryIns').val(item.SalaryIns);
                        //    $('#ddlRegion').get(0).options[$('#ddlRegion').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
        }

        $('#btnExcel').click(function () {

            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("XuatBaoCao", "HRM_bangcaphethan")',
                data: JSON.stringify({ function_param: listEmployeeID }),
                contentType: "application/json; charset=utf-8",
                async: true,
                cache: false,
                success: function (data) {

                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
            //var ids = $.map(table.rows('.selected').data(), function (item) {
            //    return item[1];
            //});
            //alert(ids);

            // alert(table.rows('.selected').data().length + ' row(s) selected');
        });

        //});

  
 
    </script>
}


