﻿@model NhuDangCenter.Models.TuNgayDenNgay

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Điều kiện lọc danh sách thu học phí</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-inline">
             
            <!--LỌC THEO NGÀY ĐÓNG TIỀN-->
           

            <div class="form-group">
                @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TuNgay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DenNgay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
                </div>
            </div>
               
           @*<div class="form-group">
                <label class="control-label">Từ:</label>
                <input class="form-control text-box single-line"
                       data-val="true"
                       data-val-number="Chỉ được nhập số."
                       data-val-regex="Chỉ được nhập số."
                       data-val-regex-pattern="([0-9]+)"
                       id="soThangTu" name="soThangTu" type="datetime" value="0">
                <span class="field-validation-valid text-danger"
                      data-valmsg-for="SoThangTu" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Đến:</label>
                <input class="form-control text-box single-line"
                       data-val="true"
                      data-val-number="Chỉ được nhập số."
                       data-val-regex="Chỉ được nhập số."
                       data-val-regex-pattern="([0-9]+)"
                       type="datetime"
                       id="soThangDen" name="soThangDen"  value="0">
                <span class="field-validation-valid text-danger"
                      data-valmsg-for="SoThangDen" data-valmsg-replace="true"></span>
            </div>*@

            <input type="hidden" value="@ViewBag.Lop_ID" name="DepartmentID" />
           
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Lọc
        </button>
    </div>
}



