﻿@*@model IEnumerable<NhuDangCenter.Models.CTHocPhi>*@
@model NhuDangCenter.Models.TuNgayDenNgay
@{
    IEnumerable<NhuDangCenter.Models.store_ThuHocPhi_Result> hocPhi = (IEnumerable<NhuDangCenter.Models.store_ThuHocPhi_Result>)ViewBag.HocPhi;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section huongdan{
    <text>DANH SÁCH HỌC VIÊN CHƯA THU HỌC PHÍ</text>
}
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="text-align:center; margin-bottom:15px;">
            <div class="form-group">
                @Html.LabelFor(model => model.TuNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.TuNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TuNgay, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DenNgay, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.DenNgay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DenNgay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-calculator"></i> Xuất danh sách
                    </button>
                </div>
            </div>
        </div>
    </div>
}*@


<p>
   @* <a data-modal href="@Url.Action("Create", "HocPhi")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>*@
    <a href="@Url.Action("Index", "HocPhi")" class="btn btn-primary"><i class="fa fa-newspaper-o m-right-xs"></i>Xem danh sách học viên đóng học phí</a>
  @*  <a data-modal href="@Url.Action("LocDanhSach", "HocPhi")" class="btn btn-info"><i class="fa fa-file-excel-o m-right-xs"></i>Xuất danh sách thu học phí</a>*@
    @*<a title="Danh sách học viên chưa đóng học phí" id="ThuHocPhi" class="btn btn-primary"><i class="fa fa-refresh m-right-xs"></i>Danh sách học viên chưa đóng học phí</a>*@
    <a title="Cập nhật thông tin học phí cho học viên đã chọn" id="UpdateHocPhi" class="btn btn-primary"><i class="fa fa-refresh m-right-xs"></i>Cập nhật đóng học phí</a>
</p>

<table id="HocPhiList" class="table table-striped jambo_table border-right action-table">
    <thead>

        <tr>
            <th></th>
            <th>Mã học viên</th>
            <th>
               Họ tên
            </th>
            <th>
                Học phí
            </th>

            <th>
                Lớp
            </th>
           
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in hocPhi)
        {
            <tr>
                <td></td>
                <td style="width:50px">
                    @Html.DisplayFor(modelItem => item.CTHocVien_ID)
                </td>
                <td style="width:200px">
                    @Html.DisplayFor(modelItem => item.HocVien_Name)
                </td>
                <td style="text-align:right;  width:200px">
                    @Html.DisplayFor(modelItem => item.HocPhi)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Lop_Name)
                </td>
                 

           
            </tr>
                    }
    </tbody>
</table>

 
@section Styles{
                       @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
                   @section Scripts{
                       @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    @*@Scripts.Render("~/bundles/modalformUpload")*@
    <script type="text/javascript">
        $(document).ready(function () { // will trigger when the document is ready
            $('.datetimepicker1').datepicker(); //Initialise any date pickers
        });
        var tblHocPhi;
        $(document).ready(function () {

            var t = $('#HocPhiList').DataTable({
                "info": false,
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "orderable": false,  "className": 'select-checkbox', "targets": 0}
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                "order": [[1, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(4, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#eaedf5;"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
            tblHocPhi = t;
            // Order by the grouping
            $('#HocPhiList tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 4 && currentOrder[1] === 'asc') {
                    table.order([4, 'desc']).draw();
                }
                else {
                    table.order([4, 'asc']).draw();
                }
            });
        });
//LOAD LỚP HỌC THEO TỪNG HỌC VIÊN
         function getComboA(selectObject) {
              var value = selectObject.value;
              //alert(value);
              LoadRegion(value);

          }


        function LoadRegion(HocVien_ID) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("getLop", "HocPhi")',
                data: "{'HocVien_ID':'" + HocVien_ID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    //   $('#ddlRegion').get(0).options.length = 0;
                    //    $('#ddlRegion').get(0).options[0] = new Option("--Select--", "0");
                    $("#Lop_ID").empty();
                    $.map(data, function (item) {


                        $('#Lop_ID').append($('<option></option>').val(item.Lop_ID).html(item.Lop_Name))
                            //$('#Lop_ID').append('<span>' + obj[0].Lop_ID+ "  " + obj[0].Lop_Name + "</span><br />");

                        //item.forEach(function (obj) {
                        //    $('#Lop_ID').append($('<option></option>').val(obj.Lop_ID).html(obj.Lop_Name))
                        //});
                        //$('#Lop_ID').val(item.Coefficient);
                        //$('#Salary').val(item.Salary);
                        //$('#CoefficientIns').val(item.CoefficientIns);
                        //$('#SalaryIns').val(item.SalaryIns);
                        //    $('#ddlRegion').get(0).options[$('#ddlRegion').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () {
                    alert("Failed to load Item");
                }
            });
        }

        ///TỰ ĐỘNG TÍNH TIỀN MIỄN GIẢM
        function handle(e) {
            if (e.keyCode == 13) {
                e.preventDefault(); // Ensure it is only this code that rusn
                TestRules($("#SoTien").val(), $("#MienGiam").val());
                //  alert("Enter was pressed was presses");
            }
        }

        function TestRules(SoTien, MienGiam) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("MienGiam", "HocPhi")',
                data: "{'SoTien':'" + SoTien + "', 'MienGiam':'" + MienGiam + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    //   $('#ddlRegion').get(0).options.length = 0;
                    //    $('#ddlRegion').get(0).options[0] = new Option("--Select--", "0");

                    $.map(data, function (item) {
                        //Lấy dữ liệu và so sánh

                        $('#ConLai').val(item.MienGiam);
                        //$('#Salary').val(item.Salary);
                        //$('#CoefficientIns').val(item.CoefficientIns);
                        //$('#SalaryIns').val(item.SalaryIns);
                        //    $('#ddlRegion').get(0).options[$('#ddlRegion').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
        }

        $('#UpdateHocPhi').on('click', function () {
            var listEmployeeID = [];
            //alert(tblHocPhi.rows('.selected').data().length + ' row(s) selected');
            var count = 0;
            $.each(tblHocPhi.rows('.selected').data(), function () {
                listEmployeeID[count] = this[1];
                //alert(listEmployeeID[count]);
                count++;

            });
            if (count==0) {
                alert("Chưa chọn học viên");
                return;
            }
            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("UpdateHocPhiTheoDanhSach", "HocPhi")',
                data: JSON.stringify({ function_param: listEmployeeID }),
                contentType: "application/json; charset=utf-8",
                async: true,
                cache: false,
                success: function (data) {
                    //alert(data.p);
                    //GỌi thực thi hàm tạo mới
                    window.location.href = '@Url.Action("ThuHocPhi", "HocPhi")';
                    //window.location.href = '@Url.Action("CreateEachList", "HRM_EMPLOYMENTHISTORY")?EmployeeID=' + data.e + '&PlanID=' + data.p + '&detailPlanID=' + data.d;
                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
            //var anSelected = fnGetSelected(tblLop);
            //var tr = anSelected[0];
            //currentLop = $(tr).attr('id');
            //LayDanhSachHocVien();
        })
        function fnGetSelected(oTableLocal) {
            return oTableLocal.$('tr.selected');
        }
        $('#btnExcel').click(function () {

            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("XuatBaoCao", "HRM_bangcaphethan")',
                data: JSON.stringify({ function_param: listEmployeeID }),
                contentType: "application/json; charset=utf-8",
                async: true,
                cache: false,
                success: function (data) {

                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
            //var ids = $.map(table.rows('.selected').data(), function (item) {
            //    return item[1];
            //});
            //alert(ids);

            // alert(table.rows('.selected').data().length + ' row(s) selected');
        });

        //});

  
 
    </script>
}


