﻿@model IEnumerable<NhuDangCenter.Models.CTHocVien>

@{
    ViewBag.Title = "Điểm học viên";
}

@*<p>
    <button class="btn btn-primary" onclick="HienThiModal('@Url.Action("CreateOne", "DiemHocVien",new { id=ViewBag.CTHocVien_ID})', 'tab_content2')"><i class="fa fa-plus m-right-xs"></i>Thêm mới</button>
</p>*@
<table id="DsDiemHocVienList" class="table table-bordered action-table">
    <thead>
      
        <tr>
            <th></th>
            
            <th>
                @Html.DisplayNameFor(model => model.Lop.MaLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem4)
            </th>

            <th></th>
         
        </tr>
    </thead>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Lop.Lop_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem4)
                </td>

                <td>
                    <a href="#" onclick="HienThiModal('@Url.Action("Edit",  "DiemHocVien",new { id=item.CTHocVien_ID})', 'tab_content2')" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                   @* <a href="#" onclick="HienThiModal('@Url.Action("Delete",  "DiemHocVien",new { id=item.CTHocVien_ID})', 'tab_content2')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>