﻿@model NhuDangCenter.Models.CTHocVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CTHocVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diem1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocVien.HocVien_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocVien.HocVien_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop.MaLop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CTHocVien_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
