﻿@model IEnumerable<NhuDangCenter.Models.CTHocVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocVien.HocVien_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lop.MaLop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diem1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocVien.HocVien_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lop.MaLop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CTHocVien_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CTHocVien_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CTHocVien_ID })
        </td>
    </tr>
}

</table>
