﻿@model IEnumerable<NhuDangCenter.Models.CTHocVien>

@{
    ViewBag.Title = "Index";
}

 <p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="DiemHocVienList" class="table table-striped jambo_table border-right action-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
                <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.HocVien.HocVien_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop.MaLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem4)
            </th>
            
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocVien.HocVien_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop.MaLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diem4)
                </td>
                
                <td>
                    <a href="@Url.Action("Edit", "CTHocVien", new { id=item.HocVien_ID, idLop=item.Lop_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>

                </td>
                @{ stt++;}
            </tr>
                    }
    </tbody>
</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section Scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DiemHocVienList').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        
           

            //// Activate an inline edit on click of a table cell
            //$('#DiemHocVienList').on('click', 'tbody td:not(:first-child)', function (e) {
            //    t.inline(this);
            //});

        });
    </script>
}
