﻿@model IEnumerable<NhuDangCenter.Models.HocVien_ChungChi>
@{
    ViewBag.Title = "Điểm học viên";
}
<p>
    <button class="btn btn-primary" onclick="HienThiModal('@Url.Action("CreateOne", "ChungChi",new { id=ViewBag.HocVienID})', 'tab_content3')"><i class="fa fa-plus m-right-xs"></i>Thêm mới</button>
</p>
 
<table id="ChungChiHocVienList" class="table table-bordered action-table">
    <thead>

        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ChungChi.ChungChi_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DinhKem)
            </th>


            <th></th>

        </tr>
    </thead>
    <tbody>
        @{ int stt = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChungChi.ChungChi_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayCap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DinhKem)
                </td>

                <td>
                    <a href="#" onclick="HienThiModal('@Url.Action("Edit",  "ChungChi",new { id=item.HocVien_ChungChi_ID})', 'tab_content3')" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                     <a href="#" onclick="HienThiModal('@Url.Action("Delete",  "ChungChi",new { id=item.HocVien_ChungChi_ID})', 'tab_content3')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
