﻿@model NhuDangCenter.Models.HocVien_ChungChi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HocVien_ChungChi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinhKem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinhKem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChungChi.ChungChi_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChungChi.ChungChi_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocVien.HocVien_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocVien.HocVien_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HocVien_ChungChi_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
