﻿@model IEnumerable<NhuDangCenter.Models.HocVien_ChungChi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DinhKem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChungChi.ChungChi_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocVien.HocVien_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DinhKem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChungChi.ChungChi_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocVien.HocVien_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HocVien_ChungChi_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HocVien_ChungChi_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HocVien_ChungChi_ID })
        </td>
    </tr>
}

</table>
