﻿@using NhuDangCenter.Models;
@using System.Collections.Generic;
@model IEnumerable<sp_T_LayBangChamCongNgay_Result>

@{
    ViewBag.Title = "Chấm công theo ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Ca> dsCa = (IEnumerable<Ca>)ViewBag.Ca;
    List<GiaoVien> dsGiaoVien = (List<GiaoVien>)ViewBag.GiaoVien;
    Dictionary<int, List<string>> dsGiaovienCa = (Dictionary<int, List<string>>)ViewBag.GiaoVienCa;
}

@section huongdan{
    <text>Chọn ngày để thực hiện chấm công</text>
}
@if (Model != null)
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Giáo viên</th>
                <!--danh sách các ca trong ngày-->
                @foreach (Ca c in dsCa)
                {
                    <th>@c.Ca_Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in dsGiaoVien)
            {
                <tr>
                    <td></td>
                    <td>@item.GiaoVien_Name</td>
                    @foreach (var note in dsGiaovienCa[item.GiaoVien_ID])
                    {
                        if (note == "-")
                        {
                            <td></td>
                        }
                        else
                        {
                            //thực hiện tách chuỗi ra xem để biết là giáo viên chính hay trợ giảng
                            string[] temp = note.Split(new[] { '-' });
                            if (temp[0] == "0") //tro giang
                            {
                                <td style="background-color:beige">Trợ giảng lớp:<br/>
                                @temp[1]
                                </td>
                            }
                            else
                            {
                               <td style="background-color:lightcyan">Dạy chính lớp:<br/>
                               @temp[1]
                               </td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
