﻿@model NhuDangCenter.Models.ChamCong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChamCong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayChamCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChamCong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaoVien_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaoVien_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHChamCong_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHChamCong_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaoVienDayBu_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaoVienDayBu_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaiTro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaiTro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChamCong_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
