﻿@using NhuDangCenter.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Phân ca tự động";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section huongdan{
    <text>Bảng phân ca làm việc</text>
}
<!-- modal placeholder-->
<form class="form-inline" action="@Url.Action("Index", "ChamCongs")">  
    <div class="row" style="text-align:center; margin-bottom:15px;">
        <div class="form-group">
            <label>Chọn tháng:</label>
            <select name="thang" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>
        <div class="form-group">
            <label>Năm:</label>
            <input class="form-control" name="nam" type="text" value="@DateTime.Now.Year" width="40" />
        </div>
    </div> 
    <div class="row" style="text-align:center; margin-bottom:20px;">
        <button type="submit" class="btn btn-warning">Xem bảng phân ca</button>
    </div>         
</form>
@{
    if (ViewBag.TinhTrang == 1)
    {
        //Tinh trang: 0 --chưa xác định
        //Tinh trang: 1 --chưa có bảng phân ca
        //tinh trang: 2 --đã có bảng phân ca
        <div style="text-align:center;">
            <p>Hiện chưa có bảng phân ca trong tháng. Bạn hãy tạo mới bảng phân ca.</p>
            <p>
                <a href="@Url.Action("PhanCaTuDong", "ChamCongs", new { thang=ViewBag.Thang, nam= ViewBag.Nam})" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Tạo mới</a>
            </p> 
       </div>
    }
    else
        if(ViewBag.TinhTrang==2)
    {
        string tieuDeBang = "Dưới đây là bảng phân ca tháng " + ViewBag.Thang + "/"+ViewBag.Nam + ". Chọn ngày làm việc để xem chi tiết.";
        //hiển thị danh sách các ngày trong tháng ở đây        
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                <p>@tieuDeBang</p>
                 <ul class="pagination pagination-split text-center">
                    <!--Hiển thị danh sách các ngày trong tháng ở đây-->
                    @{ 
                        List<DateTime> ngayLamViec = (List<DateTime>)ViewBag.NgayLamViec;
                        foreach (DateTime ngay in ngayLamViec)
                        {
                            //tính ra thứ của ngày đó
                            //DateTime tempNgay = new DateTime(ViewBag.Nam, ViewBag.Thang, ngay);
                            int thu = (int)ngay.DayOfWeek+1;
                            string thuNgay = "";
                            if (thu == 1)
                            {
                                thuNgay = "(CN)";
                            }
                            else
                            {
                                thuNgay = "(T" + thu.ToString() + ")";
                            }
                            <li>
                                <a onclick="LayChiTietBang2('@Url.Action("LayPhanCaNgay", "ChamCongs", new {thang=ViewBag.Thang, nam=ViewBag.Nam, ngay = ngay.Day })')" href="#">@ngay.Day.ToString()<br/>@thuNgay</a>
                            </li>
                        }
                    }                
                </ul>
            </div>
            <div class="clearfix"></div>
            //hiển thị danh sách nhân viên làm việc trong ca
            <div id="bangPhanCa">                                     
            </div>
            
    }
}
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")
    <script type="text/javascript">
        //danh sách các tình trạng
       //het phan tao tinh trang
        var t;
        var currentURL;
        $(document).ready(function () {
            LoadDatatable();
        })
        function LayChiTietBang2(url) {
            currentURL = url;
            $.get(url, function (data) {
                $('#bangPhanCa').html(data);
                LoadDatatable();
                BindToModalForm();
            });
        }
        $("select[name='thang']").val(@ViewBag.Thang);
        $("input[name='nam']").val(@ViewBag.Nam);
        function LoadDatatable() {
            t = $('#bangChiTietPhanCa').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw()
        }
        function BindToModalForm() {
            $("a[data-modal]").on("click", function (e) {
                LoadForm(this.href);
                return false;
            });
        }
        function LoadForm(url) {
            $('#myModalContent').load(url, function () {
                // this is the first add
                $.validator.unobtrusive.parse($('form'));
                //định dạng cho kiểu nhập ngày tháng cho tất cả các kiểu ngày
                $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true, yearRange: '1950:2030' }, $.datepicker.regional["vi"]);

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindFormInDataTable(this);
            });
        }
        function bindFormInDataTable(dialog) {
            $('form', dialog).submit(function () {
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                //location.reload();
                                //lấy lại bảng phân ca ngày đó
                                $.get(currentURL, function (data) {
                                    $('#bangPhanCa').html(data);
                                    LoadDatatable();
                                    BindToModalForm();
                                });

                            }
                        }
                    });
                    return false;
                }
            });
        }
    </script>
}




