﻿@model NhuDangCenter.Models.ChamCong

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Xác nhận trung tâm nghỉ ngày @Model.NgayChamCong.ToString("dd/MM/yyyy")</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NgayChamCong)              
            <p>Chương trình sẽ tự động chấm công "Vắng mặt" cho toàn bộ nhân viên ngày này.
            <br/>
            Xác nhận để hoàn thành thao tác.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Xác nhận
        </button>
    </div>

}