﻿@using NhuDangCenter.Models;
@using System.Collections.Generic;
@model IEnumerable<sp_T_LayBangChamCongNgay_Result>
@{
    NhuDangCenterEntities db = new NhuDangCenterEntities();
    IEnumerable<Ca> dsCa = (IEnumerable<Ca>)ViewBag.Ca;
    List<GiaoVien> dsGiaoVien = (List<GiaoVien>)ViewBag.GiaoVien;
    DateTime ngayHienTai = (DateTime)ViewBag.NgayHienTai;
}
<p class="text-center" style="color:red">Lịch dạy ngày @ngayHienTai.ToString("dd/MM/yyyy")</p>
@if (dsGiaoVien != null)
{
    <table class="table table-bordered table-striped table-hover" id="bangChiTietPhanCa">
        <thead>
            <tr>
                <th>STT</th>
                <th>Giáo viên</th>
                <!--danh sách các ca trong ngày-->
                @foreach (Ca c in dsCa)
                {
                    <th class="text-center">@c.Ca_Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in dsGiaoVien)
            {
                <tr>
                <td></td>
                <td>@item.GiaoVien_Name</td>
                @foreach (Ca c in dsCa)
                {
                    sp_T_LayBangChamCongNgay_Result iChamCong = Model.Where(x => x.Ca_ID == c.Ca_ID && x.GiaoVien_ID == item.GiaoVien_ID).FirstOrDefault();
                    if (iChamCong != null)
                    {
                        if (iChamCong.KHChamCong_ID == 2)//vắng mặt
                        {
                            <td class="text-center">
                                <a href="@Url.Action("Edit", "ChamCongs", new { id = iChamCong.ChamCong_ID })" data-modal>
                                    <text style="color:red">(Nghỉ) </text>@iChamCong.Lop_Name
                                </a>
                            </td>                          
                        }
                        else
                        {
                            if (iChamCong.VaiTro == 0) //tro giang
                            {
                                <td style="background-color:beige" class="text-center">
                                    <a href="@Url.Action("Edit", "ChamCongs", new { id = iChamCong.ChamCong_ID })" data-modal>
                                        Trợ giảng lớp:<br />
                                        @iChamCong.Lop_Name
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td style="background-color:lightcyan" class="text-center">
                                    <a href="@Url.Action("Edit", "ChamCongs", new { id = iChamCong.ChamCong_ID })" data-modal>
                                        Dạy chính lớp:<br />
                                        @iChamCong.Lop_Name
                                    </a>
                                </td>
                            }
                        }

                    }
                    else
                    {
                        <td></td>
                    }
                }                        
                </tr>
            }
        </tbody>
    </table>    
}else
{
    <p class="text-center">Không có lịch giảng dạy</p>
}
<p class="text-center">
    <a href="@Url.Action("Create", "ChamCongs", new { ngay=ngayHienTai})" class="btn btn-primary" data-modal><i class="fa fa-plus m-right-xs"></i>Bổ sung lịch dạy</a>
    <a href="@Url.Action("NghiCaNgay", "ChamCongs", new { ngay=ngayHienTai})" class="btn btn-success" data-modal><i class="fa fa-refresh m-right-xs"></i>Trung tâm nghỉ cả ngày</a>
</p>
