﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trung tâm Anh Ngữ Như Đặng</title>
    <!-- Bootstrap and Au Lac theme-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<!--Giao dien tien ich cua jquery-->
    @Styles.Render("~/Content/jqueryui")
    <!-- Font Awesome -->
    @Styles.Render("~/vendors/fontawesome/css")*@
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />
    <link href="@Url.Content("~/vendors/fontawesome/css/font-awesome.min.css")" rel="stylesheet" />

    <style type="text/css">
        .table.no-border tr td, .table.no-border tr th {
            border-width: 0;
        }

        .table.no-border th {
            width: 30%;
        }
        /*bảng có cột kẻ ngang*/
        .jambo_table.border-right tr td {
            border-right: 1px solid rgba(221, 221, 221, 0.78);
        }

            .jambo_table.border-right tr td:last-child {
                border-right: none;
            }
        /*bảng action*/
        .action-table tr td:first-child {
            width: 20px;
        }

        .action-table tr td:last-child {
            width: 70px;
            text-align: center;
        }
        /*require field*/
        .required:after {
            content: " *";
            color: #f00;
        }
        /*nút trong bảng*/
        .table .btn {
            margin-right: 0px;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    <!--PHẦN DÀNH CHO HIỂN THỊ MODAL-->
    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
    <!--HẾT PHẦN DÀNH CHO HIỂN THỊ MODAL-->
    <!--DANG NHAP, DANG XUAT-->
    <div class="container-fluid text-right">
            @Html.Partial("_LoginPartial")
        </div>
    <!--HET PHAN DANG NHAP, DANG XUAT-->
    <!--LOGO VA TIEU DE CUA PHAN MEM-->
    <div class="container logo">
        <div class="row">
            <div class="col-md-3"><img src="~/images/logo2.jpg" height="100px" style="margin-bottom:-15px;"></img></div>
            <div class="col-md-9"><h1 class="title" style="margin-top:25px;">TRUNG TÂM ANH NGỮ NHƯ ĐẶNG</h1></div>
        </div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <section class="menu-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-collapse collapse ">
                                <ul id="menu-top" class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Trang chủ", "Thoikhoabieu_Khoi", "Lop")</li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Danh mục
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Chương trình học", "Index", "ChuongTrinh")</li>
                                            <li>@Html.ActionLink("Cấp độ", "Index", "CapDo")</li>                                            
                                            <li>@Html.ActionLink("Ngày dạy", "Index", "Thu")</li>
                                            <li>@Html.ActionLink("Ca học", "Index", "Ca")</li>
                                            <li>@Html.ActionLink("Tài khoản truy cập", "Index", "HRM_USER")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Quản lý học viên
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Danh sách học viên", "Index", "HocVien")</li>
                                            @*<li><a href="#">Bảng điểm học viên</a></li>
                                            <li><a href="#">Quá trình học</a></li>
                                            <li><a href="#">Bằng cấp chứng chỉ</a></li>*@
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Quản lý lớp học
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Danh sách lớp học", "Index", "Lop")</li>
                                            <li>@Html.ActionLink("Bảng điểm, xếp lớp, chuyển lớp", "DetailsLop_HocVien", "Lop")</li>
                                            
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Quản lý nhân viên
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Danh sách nhân viên", "Index", "GiaoVien")</li>
                                            <li>@Html.ActionLink("Chấm công nhân viên", "Index", "ChamCongs")</li>
                                            <li>@Html.ActionLink("Quản lý chi lương giáo viên", "Index", "LuongGiaoViens")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Quản lý thu chi
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Thu học phí", "ThuHocPhi", "HocPhi")</li>
                                            <li>@Html.ActionLink("Danh sách nợ học phí", "DanhSachNoHocPhi", "HocPhi")</li>
                                            <li>@Html.ActionLink("Các khoản chi khác", "Index", "ChiKhacs")</li>
                                            <li>@Html.ActionLink("Báo cáo thu chi", "Index", "BaoCaoThuChi")</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="page-header thongtinchung">
                            @RenderSection("huongdan", false)
                        </p>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!--FOOTER-->
    <div class="container-fluid footer">
        <div class="footerText text-center">
            Copyright © 2017 by Trung tâm Anh ngữ Như Đặng. Cập nhật 31/7/2017.
        </div>
    </div>
    <!--/FOOTER-->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Scripts/thanh_utilities.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-vi.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.inputmask.bundle.js")"></script>
    <script src="@Url.Content("~/Scripts/waitingAjax.js")"></script>  

    @RenderSection("scripts", required: false)
</body>
</html>
