﻿@using Microsoft.AspNet.Identity
@using NhuDangCenter.Models;
@if (Request.IsAuthenticated)
{
    NhuDangCenterEntities db = new NhuDangCenterEntities();
    string username = User.Identity.GetUserName();
    HRM_USER user = db.HRM_USER.Where(x => x.UserName ==username).FirstOrDefault();
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-top-links navbar-right" style="padding-right:10px;">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> @user.FullName <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="@Url.Action("ChangePassword", "HRM_USER", new {id=user.UserID })" data-modal><i class="fa fa-key fa-fw"></i>Đổi mật khẩu</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>                        
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>        
    }
}
else
{      
    <div style="padding-right:10px;">
        <a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in fa-fw"></i>Đăng nhập</a>    
    </div>
}
