﻿@model NhuDangCenter.Models.GiaoVien

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa giáo viên này?</h4>
</div>

<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaoVien_Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.GiaoVien_Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>

            <td>
                @Html.DisplayFor(model => model.GioiTinh)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>

            <td>
                @Html.DisplayFor(model => model.NgaySinh)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>

            <td>
                @Html.DisplayFor(model => model.DiaChi)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>

            <td>
                @Html.DisplayFor(model => model.DienThoai)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsGiaoVien)
            </th>

            <td>
                @Html.DisplayFor(model => model.IsGiaoVien)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LuongChinh)
            </th>

            <td>
                @Html.DisplayFor(model => model.LuongChinh)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LuongTroGiang)
            </th>

            <td>
                @Html.DisplayFor(model => model.LuongTroGiang)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrinhDo.TrinhDo_Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.TrinhDo.TrinhDo_Name)
            </td>
        </tr>
    </table>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}