﻿@model NhuDangCenter.Models.GiaoVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiaoVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaoVien_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaoVien_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGiaoVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGiaoVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongChinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongTroGiang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongTroGiang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrinhDo.TrinhDo_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrinhDo.TrinhDo_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GiaoVien_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
