﻿@model IEnumerable<NhuDangCenter.Models.GiaoVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <text>DANH SÁCH GIÁO VIÊN</text>
}

<p>
    <a data-modal href="@Url.Action("Create", "GiaoVien")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table id="GiaoVienList"  class="table table-bordered table-hover table-striped action-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.GiaoVien_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.LuongChinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongTroGiang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrinhDo.TrinhDo_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGiaoVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int stt =1;}
        @foreach (var item in Model)
        {
            string rowID = item.GiaoVien_ID.ToString();
            <tr id="@rowID">
                <td>@stt</td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaoVien_Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.LuongChinh)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.LuongTroGiang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrinhDo.TrinhDo_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsGiaoVien)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "GiaoVien", new { id=item.GiaoVien_ID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "GiaoVien", new { id=item.GiaoVien_ID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                </td>
                @{ stt++;}
            </tr>

        }

</tbody>

</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">

        //$(document).ready(function () {

        //    var tblbaocaokhcn = $('#GiaoVienList').DataTable({
        //        "info": false,
        //        "language": {
        //            "url": "/vendors/DataTables/langs/Vietnamese.json"
        //        },
        //        "columnDefs": [
        //            { "visible": false, "targets": 10 }
        //        ],
        //        "order": [[10, 'asc']],
        //        "displayLength": 25,
        //        "drawCallback": function (settings) {
        //            var api = this.api();
        //            var rows = api.rows({ page: 'current' }).nodes();
        //            var last = null;

        //            api.column(10, { page: 'current' }).data().each(function (group, i) {
        //                if (last !== group) {
        //                    $(rows).eq(i).before(
        //                        '<tr class="group" style="background-color:#9ac1cb;"><td colspan="11">' + group + '</td></tr>'
        //                    );

        //                    last = group;
        //                }
        //            });
        //        }
        //    });
        //    // Order by the grouping
        //    $('#GiaoVienList tbody').on('click', 'tr.group', function () {
        //        var currentOrder = table.order()[0];
        //        if (currentOrder[0] === 7 && currentOrder[1] === 'asc') {
        //            table.order([7, 'desc']).draw();
        //        }
        //        else {
        //            table.order([7, 'asc']).draw();
        //        }
        //    });

        //});
        $(document).ready(function () {
            var t = $('#GiaoVienList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 3
                }]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}


